<div fxLayout="row" fxLayoutAlign="space-evenly center" > 
<div id="banner">
  <img class="banner-img" src="/assets/img/sharescript.png" width="100%" height="100%">
  <img class="logo-img" src="/assets/img/WhiteLogo.png" alt="logo" width="100%" heght="100%">
  <div class="title">Script Share</div>
  <img class="icon" src="assets/img/sharescript-icon.png">
  </div>
</div>


      <mat-grid-list cols="6" rowHeight ="400px" *ngIf="orgId ==null" [gutterSize]="'10px'">
          <mat-grid-tile [colspan]="1" ></mat-grid-tile>
          <mat-grid-tile [colspan]="2" >
            <img src="../assets/videoplaceholder.jpg" 
              style="float: left; width: 640px; height:350px; margin-left:2%; margin-top:2%">
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2">
            <div class="share-script-description">  Welcome to Script Share where you and your entire team can build and share scripts within your organisation.
            
          </div>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1"></mat-grid-tile>
          </mat-grid-list>

          <mat-grid-list cols="5" rowHeight="50px" [gutterSize]="'10px'"  *ngIf="orgId ==null">
              <mat-grid-tile [colspan]="1" ></mat-grid-tile>
              <mat-grid-tile [colspan]="3" ><div class="users">PLANS & PRICING</div> </mat-grid-tile>
              <mat-grid-tile [colspan]="1" ></mat-grid-tile>
          </mat-grid-list>

      <mat-grid-list cols="5" rowHeight="50px" [gutterSize]="'10px'"  *ngIf="orgId ==null">
          <mat-grid-tile [colspan]="1" ></mat-grid-tile>
          <mat-grid-tile [colspan]="1" ><div class="users">1-20 Users</div> </mat-grid-tile>
          <mat-grid-tile [colspan]="1" ><div class="users">20-100 Users</div></mat-grid-tile>
          <mat-grid-tile [colspan]="1" ><div class="users">100+ Users</div></mat-grid-tile>
          <mat-grid-tile [colspan]="1" ></mat-grid-tile>
      </mat-grid-list>
  
  <mat-grid-list cols="5" rowHeight="300px" *ngIf="orgId ==null" [gutterSize]="'10px'">
          <mat-grid-tile [colspan]="1" ></mat-grid-tile>
          <mat-grid-tile [colspan]="1" >
            <mat-card class="script-share-card">
              <mat-card-header class="share-script-header-cards">
                <div class="monthly">Monthly</div>
              </mat-card-header>
              <mat-card-title>
                <div class="price-bill-container">
               <div class="price">$40</div><div class="month">/ month</div>
               <div class="billed-monthly">Billed Monthly</div>
              </div>
            </mat-card-title>
               <mat-card-actions class="subscribe-actions">
                 <div class="subscribe-btn">
                  <button mat-button>Subscribe</button>
                 </div>
               </mat-card-actions>
            </mat-card>
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" >
            <mat-card class="script-share-card">
              <mat-card-header class="share-script-header-cards">
                <div class="monthly">
                Monthly
              </div>
              </mat-card-header>
              <mat-card-title>
                <div class="price-bill-container">
               <div class="price">$80</div><div class="month">/ month</div>
               <div class="billed-monthly">Billed Monthly</div>
              </div>
            </mat-card-title>
               <mat-card-actions class="subscribe-actions">
                 <div class="subscribe-btn">
                  <button mat-button>Subscribe</button>
                 </div>
               </mat-card-actions>
            </mat-card>
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" >
              <mat-card class="script-share-card">
                  <mat-card-header class="share-script-header-cards">
                    <div class="monthly">
                    Monthly
                  </div>
                  </mat-card-header>
                  <mat-card-title>
                    <div class="price-bill-container">
                   <div class="price">$160</div><div class="month">/ month</div>
                   <div class="billed-monthly">Billed Monthly</div>
                  </div>
                </mat-card-title>
                   <mat-card-actions class="subscribe-actions">
                     <div class="subscribe-btn">
                      <button mat-button>Subscribe</button>
                     </div>
                   </mat-card-actions>
                </mat-card>
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" ></mat-grid-tile>
          <mat-grid-tile [colspan]="1" ></mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" >
              <mat-card class="script-share-card">
                  <mat-card-header class="share-script-header-cards">
                    <div class="monthly">
                    Quarterly
                  </div>
                  </mat-card-header>
                  <mat-card-title>
                    <div class="price-bill-container">
                   <div class="price">$160</div><div class="month">/ quarter</div>
                   <div class="billed-monthly">Billed Quarterly</div>
                  </div>
                </mat-card-title>
                   <mat-card-actions class="subscribe-actions">
                     <div class="subscribe-btn">
                      <button mat-button>Subscribe</button>
                     </div>
                   </mat-card-actions>
                </mat-card>
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" >
              <mat-card class="script-share-card">
                  <mat-card-header class="share-script-header-cards">
                    <div class="monthly">
                    Quarterly
                  </div>
                  </mat-card-header>
                  <mat-card-title>
                    <div class="price-bill-container">
                   <div class="price">$320</div><div class="month">/ quarter</div>
                   <div class="billed-monthly">Billed Quarterly</div>
                  </div>
                </mat-card-title>
                   <mat-card-actions class="subscribe-actions">
                     <div class="subscribe-btn">
                      <button mat-button>Subscribe</button>
                     </div>
                   </mat-card-actions>
                </mat-card>
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" >
              <mat-card class="script-share-card">
                  <mat-card-header class="share-script-header-cards">
                    <div class="monthly">
                    Quarterly
                  </div>
                  </mat-card-header>
                  <mat-card-title>
                    <div class="price-bill-container">
                   <div class="price">$640</div><div class="month">/ quarter</div>
                   <div class="billed-monthly">Billed Quarterly</div>
                  </div>
                </mat-card-title>
                   <mat-card-actions class="subscribe-actions">
                     <div class="subscribe-btn">
                      <button mat-button>Subscribe</button>
                     </div>
                   </mat-card-actions>
                </mat-card>
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" ></mat-grid-tile>
          <mat-grid-tile [colspan]="1" ></mat-grid-tile>
          <mat-grid-tile [colspan]="1" >
            <mat-card class="script-share-card">
                  <mat-card-header class="share-script-header-cards">
                    <div class="monthly">
                    Yearly
                  </div>
                  </mat-card-header>
                  <mat-card-title>
                    <div class="price-bill-container">
                   <div class="price">$480</div><div class="month">/ year</div>
                   <div class="billed-monthly">Billed Yearly</div>
                  </div>
                </mat-card-title>
                   <mat-card-actions class="subscribe-actions">
                     <div class="subscribe-btn">
                      <button mat-button>Subscribe</button>
                     </div>
                   </mat-card-actions>
                </mat-card>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" >
              <mat-card class="script-share-card">
                  <mat-card-header class="share-script-header-cards">
                    <div class="monthly">
                    Yearly
                  </div>
                  </mat-card-header>
                  <mat-card-title>
                    <div class="price-bill-container">
                   <div class="price">$960</div><div class="month">/ year</div>
                   <div class="billed-monthly">Billed Yearly</div>
                  </div>
                </mat-card-title>
                   <mat-card-actions class="subscribe-actions">
                     <div class="subscribe-btn">
                      <button mat-button>Subscribe</button>
                     </div>
                   </mat-card-actions>
                </mat-card>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" >
              <mat-card class="script-share-card">
                  <mat-card-header class="share-script-header-cards">
                    <div class="monthly">
                    Yearly
                  </div>
                  </mat-card-header>
                  <mat-card-title>
                    <div class="price-bill-container">
                   <div class="price">$1920</div><div class="month">/ year</div>
                   <div class="billed-monthly">Billed Yearly</div>
                  </div>
                </mat-card-title>
                   <mat-card-actions class="subscribe-actions">
                     <div class="subscribe-btn">
                      <button mat-button>Subscribe</button>
                     </div>
                   </mat-card-actions>
                </mat-card>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1"></mat-grid-tile>
      
        </mat-grid-list>
 

<mat-tab-group  *ngIf = "orgId !=null" style="margin-left: 5%; margin-right: 5%;margin-top: 3%">
    <mat-tab label="Saved">
        <mat-grid-list cols="16" class= "gridList" rowHeight="120px" *ngFor="let li of list"  [gutterSize]="'5px'">
            <mat-grid-tile [colspan]="2">
              <mat-card class="current-card">
                  <mat-card-header class="header-card">
                      {{li.scriptName}}
                  </mat-card-header>
              </mat-card>
            </mat-grid-tile>
      
              <mat-grid-tile [colspan]="2" > 
                  <mat-card class="current-card">
                      <mat-card-content class="content-card"> 
                        <mat-card-title class="title-card">
                             <div class="title-div" >Description</div>
                        </mat-card-title>
                        <div class="content-div">
                            {{li.description}}
                          </div>
                      </mat-card-content>
                    </mat-card>
              </mat-grid-tile>
      
              <mat-grid-tile [colspan]="2" >
                <mat-card class="current-card">
                  <mat-card-content class="content-card">
                      <mat-card-title class="title-card">
                          <div class="title-div" >Category</div>
                      </mat-card-title>
                      <div class="content-div">
                      {{li.category}}
                    </div>
                  </mat-card-content>
                  </mat-card>
              </mat-grid-tile>
      
              <mat-grid-tile [colspan]="2" >
                  <mat-card class="current-card">
                    <mat-card-content class="content-card">
                        <mat-card-title class="title-card">
                            <div class="title-div" >Sub-Category</div>
                        </mat-card-title>
                        <div class="content-div">
                        {{li.subcategory}}
                      </div>
                    </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
      
              <mat-grid-tile [colspan]="2" >
                  <mat-card class="current-card">       
                      <mat-card-content class="content-card">
                          <mat-card-title class="title-card">
                              Last Edited
                            </mat-card-title>
                            <div class="content-div">
                     {{li.edited}}
                          </div>
                    </mat-card-content>
                  </mat-card>
                  </mat-grid-tile>
                  
                  <mat-grid-tile [colspan]="2" >
                      <mat-card class="current-card">
                        <mat-card-content class="content-card">
                            <mat-card-title class="title-card">
                                Template
                              </mat-card-title>
                              <div class="content-div">
                             {{li.templates}}
                            </div>
                        </mat-card-content>
                        </mat-card>
                    </mat-grid-tile>
               
      
              <mat-grid-tile [colspan]="1" >
                <mat-card class="btn-card" >
                    <mat-card-actions>
                      <button class="crnt-btn" mat-button (click) ="viewScript(li)">View
                          <div class="crnt-icon">
                          <mat-icon id="crnt-icon" svgIcon="view"></mat-icon>
                          </div>
                      </button>
                </mat-card-actions>
                </mat-card>
              </mat-grid-tile>
      
          <mat-grid-tile [colspan]="1">
            <mat-card class="btn-card">
              <mat-card-actions class="mat-card-actions-current">
                  <button class="crnt-btn" mat-button (click)="editScript(li)">Edit
                    <div class="crnt-icon">
                      <mat-icon id="btn-icon" svgIcon="edit"></mat-icon>
                    </div>
                  </button>
              </mat-card-actions>
            </mat-card>
          </mat-grid-tile>
      
          <mat-grid-tile [colspan]="1">
              <mat-card class="btn-card">
                <mat-card-actions class="mat-card-actions-current">
                  <button class="crnt-btn" mat-button (click)='uploadScript(li)'>Upload
                      <div class="crbt-icon">
                      <mat-icon id="btn-icon" svgIcon="upload"></mat-icon>
                      </div>
                  </button>
                </mat-card-actions>
              </mat-card>
            </mat-grid-tile>
            
            <mat-grid-tile [colspan]="1">
                <mat-card class="btn-card">
                  <mat-card-actions class="mat-card-actions-current">
                    <button class="crnt-btn" mat-button (click)="deleteScript(li)" [routerLink]="[ '/current-script' ]">Remove
                      <div class="del-btn">
                      <mat-icon id="btn-icon" svgIcon="delete"></mat-icon>
                    </div>
                    </button>
                  </mat-card-actions>
                </mat-card>
              </mat-grid-tile>
          </mat-grid-list>
    </mat-tab>

    <mat-tab label="Uploaded">
      <mat-grid-list cols="16" class= "gridList" rowHeight="120px" *ngFor="let lo of storelist" [gutterSize]="'5px'">
      <mat-grid-tile [colspan]="2">
        <mat-card class="current-card">
            <mat-card-header class="header-card">
                {{lo.scriptName}}
            </mat-card-header>
        </mat-card>
      </mat-grid-tile>

        <mat-grid-tile [colspan]="2" > 
            <mat-card class="current-card">
                <mat-card-content class="content-card"> 
                  <mat-card-title class="title-card">
                        <div class="title-div" >Description</div>
                  </mat-card-title>
                  <div class="content-div">
                      {{lo.description}}
                    </div>
                </mat-card-content>
              </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" >
          <mat-card class="current-card">
            <mat-card-content class="content-card">
                <mat-card-title class="title-card">
                    <div class="title-div" >Category</div>
                </mat-card-title>
                <div class="content-div">
                {{lo.category}}
              </div>
            </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" >
            <mat-card class="current-card">
              <mat-card-content class="content-card">
                  <mat-card-title class="title-card">
                      <div class="title-div" >Sub-Category</div>
                  </mat-card-title>
                  <div class="content-div">
                  {{lo.subcategory}}
                </div>
              </mat-card-content>
              </mat-card>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="2" >
              <mat-card class="current-card">
                <mat-card-content class="content-card">
                    <mat-card-title class="title-card">
                        <div class="title-div" >Price</div>
                    </mat-card-title>
                    <div class="content-div">
                    {{lo.price}}
                  </div>
                </mat-card-content>
                </mat-card>
            </mat-grid-tile>

        <mat-grid-tile [colspan]="2" >
            <mat-card class="current-card">       
                <mat-card-content class="content-card">
                    <mat-card-title class="title-card">
                        Last Edited
                      </mat-card-title>
                      <div class="content-div">
                {{lo.edited}}
                    </div>
              </mat-card-content>
            </mat-card>
            </mat-grid-tile>
            
            <mat-grid-tile [colspan]="2" >
                <mat-card class="current-card">
                  <mat-card-content class="content-card">
                      <mat-card-title class="title-card">
                          Template
                        </mat-card-title>
                        <div class="content-div">
                        {{lo.templates}}
                      </div>
                  </mat-card-content>
                  </mat-card>
              </mat-grid-tile>
          
        <mat-grid-tile [colspan]="1" >
          <mat-card class="btn-card" >
              <mat-card-actions>
                <button class="crnt-btn" mat-button (click) ="viewScript(li)">View
                    <div class="crnt-icon">
                    <mat-icon id="crnt-icon" svgIcon="view"></mat-icon>
                    </div>
                </button>
          </mat-card-actions>
          </mat-card>
        </mat-grid-tile>

    <mat-grid-tile [colspan]="1">
      <mat-card class="btn-card">
        <mat-card-actions class="mat-card-actions-current">
            <button class="crnt-btn" mat-button (click)="editScript(li)">Edit
              <div class="crnt-icon">
                <mat-icon id="btn-icon" svgIcon="edit"></mat-icon>
              </div>
            </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <!-- <mat-grid-tile [colspan]="1">
        <mat-card class="btn-card">
          <mat-card-actions class="mat-card-actions-current">
            <button class="crnt-btn" mat-button (click)='uploadScript(li)'>Upload
                <div class="crbt-icon">
                <mat-icon id="btn-icon" svgIcon="upload"></mat-icon>
                </div>
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile> -->
      
      <mat-grid-tile [colspan]="1">
          <mat-card class="btn-card">
            <mat-card-actions class="mat-card-actions-current">
              <button class="crnt-btn" mat-button (click)="deleteScript(li)" [routerLink]="[ '/current-script' ]">Remove
                <div class="del-btn">
                <mat-icon id="btn-icon" svgIcon="delete"></mat-icon>
              </div>
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    </mat-tab>

    <mat-tab label="Purchased">
    </mat-tab>
    </mat-tab-group>