<header class="header">
    <h2 class="mat-display-2">Script Share</h2>
   </header>
   <div *ngIf = !logged>
     <p>
       This is where the prelogged in information of scriptshare will be
     </p>
   </div>
   <div *ngIf ="orgId == NULL ">
   <img src = "../assets/videoplaceholder.jpg" *ngIf = logged  style ="width: 640px; height:350px; margin-left:2%; margin-top:2%">
   <p  *ngIf = "logged" style ="text-align: right; margin-right: 60px; position:absolute"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
   </p>
   <div class = "grid-container" *ngIf = logged>
   <div class="boxed">
     <h3>Monthly</h3>
     <p><b>$140</b>/month<br>
    Billed Monthly</p>
      <button mat-button>Subscribe</button>
   </div>
   <div class="boxed">
    <h3>Monthly</h3>
    <p><b>$140</b>/month<br>
   Billed Monthly</p>
     <button mat-button>Subscribe</button>
  </div>
  <div class="boxed">
    <h3>Monthly</h3>
    <p><b>$140</b>/month<br>
   Billed Monthly</p>
     <button mat-button>Subscribe</button>
  </div>
  <div class="boxed">
    <h3>Quarterly</h3>
    <p><b>$400</b>/month<br>
   Billed Quarterly</p>
     <button mat-button>Subscribe</button>
  </div>
  <div class="boxed">
    <h3>Quarterly</h3>
    <p><b>$400</b>/month<br>
   Billed Quarterly</p>
     <button mat-button>Subscribe</button>
  </div>
  <div class="boxed">
    <h3>Quarterly</h3>
    <p><b>$400</b>/month<br>
   Billed Quarterly</p>
     <button mat-button>Subscribe</button>
  </div>
  <div class="boxed">
    <h3>Yearly</h3>
    <p><b>$1400</b>/month<br>
   Billed Yearly</p>
     <button mat-button>Subscribe</button>
  </div>
  <div class="boxed">
    <h3>Yearly</h3>
    <p><b>$1400</b>/month<br>
   Billed Yearly</p>
     <button mat-button>Subscribe</button>
  </div>
  <div class="boxed">
    <h3>Yearly</h3>
    <p><b>$1400</b>/month<br>
   Billed Yearly</p>
     <button mat-button>Subscribe</button>
  </div>

</div>
</div>

