<div fxLayout="row" fxLayoutAlign="space-evenly center" > 
<div id="banner">
  <img class="banner-img" src="/assets/img/sharescript.png" width="100%" height="100%">
  <img class="logo-img" src="/assets/img/WhiteLogo.png" alt="logo" width="100%" heght="100%">
  <div class="title">Script Share</div>
  <img class="icon" src="assets/img/sharescript-icon.png">
  </div>
</div>


      <mat-grid-list cols="6" rowHeight ="400px" *ngIf="orgId ==null" [gutterSize]="'10px'">
          <mat-grid-tile [colspan]="1" ></mat-grid-tile>
          <mat-grid-tile [colspan]="2" >
            <img src="../assets/videoplaceholder.jpg" 
              style="float: left; width: 640px; height:350px; margin-left:2%; margin-top:2%">
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2">
            <div class="share-script-description">  Welcome to Script Share where you and your entire team can build and share scripts within your organisation.
            
          </div>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1"></mat-grid-tile>
          </mat-grid-list>

          <mat-grid-list cols="5" rowHeight="50px" [gutterSize]="'10px'"  *ngIf="orgId ==null">
              <mat-grid-tile [colspan]="1" ></mat-grid-tile>
              <mat-grid-tile [colspan]="3" ><div class="users">PLANS & PRICING</div> </mat-grid-tile>
              <mat-grid-tile [colspan]="1" ></mat-grid-tile>
          </mat-grid-list>

      <mat-grid-list cols="5" rowHeight="50px" [gutterSize]="'10px'"  *ngIf="orgId ==null">
          <mat-grid-tile [colspan]="1" ></mat-grid-tile>
          <mat-grid-tile [colspan]="1" ><div class="users">1-20 Users</div> </mat-grid-tile>
          <mat-grid-tile [colspan]="1" ><div class="users">20-100 Users</div></mat-grid-tile>
          <mat-grid-tile [colspan]="1" ><div class="users">100+ Users</div></mat-grid-tile>
          <mat-grid-tile [colspan]="1" ></mat-grid-tile>
      </mat-grid-list>
  
  <mat-grid-list cols="5" rowHeight="300px" *ngIf="orgId ==null" [gutterSize]="'10px'">
          <mat-grid-tile [colspan]="1" ></mat-grid-tile>
          <mat-grid-tile [colspan]="1" >
            <mat-card class="script-share-card">
              <mat-card-header class="share-script-header-cards">
                <div class="monthly">Monthly</div>
              </mat-card-header>
              <mat-card-title>
                <div class="price-bill-container">
               <div class="price">$40</div><div class="month">/ month</div>
               <div class="billed-monthly">Billed Monthly</div>
              </div>
            </mat-card-title>
               <mat-card-actions class="subscribe-actions">
                 <div class="subscribe-btn">
                  <button mat-button (click) = "subscribe()">Subscribe</button>
                 </div>
               </mat-card-actions>
            </mat-card>
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" >
            <mat-card class="script-share-card">
              <mat-card-header class="share-script-header-cards">
                <div class="monthly">
                Monthly
              </div>
              </mat-card-header>
              <mat-card-title>
                <div class="price-bill-container">
               <div class="price">$80</div><div class="month">/ month</div>
               <div class="billed-monthly">Billed Monthly</div>
              </div>
            </mat-card-title>
               <mat-card-actions class="subscribe-actions">
                 <div class="subscribe-btn">
                  <button mat-button (click) = "subscribe()">Subscribe</button>
                 </div>
               </mat-card-actions>
            </mat-card>
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" >
              <mat-card class="script-share-card">
                  <mat-card-header class="share-script-header-cards">
                    <div class="monthly">
                    Monthly
                  </div>
                  </mat-card-header>
                  <mat-card-title>
                    <div class="price-bill-container">
                   <div class="price">$160</div><div class="month">/ month</div>
                   <div class="billed-monthly">Billed Monthly</div>
                  </div>
                </mat-card-title>
                   <mat-card-actions class="subscribe-actions">
                     <div class="subscribe-btn">
                      <button mat-button (click) = "subscribe()">Subscribe</button>
                     </div>
                   </mat-card-actions>
                </mat-card>
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" ></mat-grid-tile>
          <mat-grid-tile [colspan]="1" ></mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" >
              <mat-card class="script-share-card">
                  <mat-card-header class="share-script-header-cards">
                    <div class="monthly">
                    Quarterly
                  </div>
                  </mat-card-header>
                  <mat-card-title>
                    <div class="price-bill-container">
                   <div class="price">$160</div><div class="month">/ quarter</div>
                   <div class="billed-monthly">Billed Quarterly</div>
                  </div>
                </mat-card-title>
                   <mat-card-actions class="subscribe-actions">
                     <div class="subscribe-btn">
                      <button mat-button (click) = "subscribe()">Subscribe</button>
                     </div>
                   </mat-card-actions>
                </mat-card>
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" >
              <mat-card class="script-share-card">
                  <mat-card-header class="share-script-header-cards">
                    <div class="monthly">
                    Quarterly
                  </div>
                  </mat-card-header>
                  <mat-card-title>
                    <div class="price-bill-container">
                   <div class="price">$320</div><div class="month">/ quarter</div>
                   <div class="billed-monthly">Billed Quarterly</div>
                  </div>
                </mat-card-title>
                   <mat-card-actions class="subscribe-actions">
                     <div class="subscribe-btn">
                      <button mat-button (click) = "subscribe()">Subscribe</button>
                     </div>
                   </mat-card-actions>
                </mat-card>
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" >
              <mat-card class="script-share-card">
                  <mat-card-header class="share-script-header-cards">
                    <div class="monthly">
                    Quarterly
                  </div>
                  </mat-card-header>
                  <mat-card-title>
                    <div class="price-bill-container">
                   <div class="price">$640</div><div class="month">/ quarter</div>
                   <div class="billed-monthly">Billed Quarterly</div>
                  </div>
                </mat-card-title>
                   <mat-card-actions class="subscribe-actions">
                     <div class="subscribe-btn">
                      <button mat-button (click) = "subscribe()">Subscribe</button>
                     </div>
                   </mat-card-actions>
                </mat-card>
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" ></mat-grid-tile>
          <mat-grid-tile [colspan]="1" ></mat-grid-tile>
          <mat-grid-tile [colspan]="1" >
            <mat-card class="script-share-card">
                  <mat-card-header class="share-script-header-cards">
                    <div class="monthly">
                    Yearly
                  </div>
                  </mat-card-header>
                  <mat-card-title>
                    <div class="price-bill-container">
                   <div class="price">$480</div><div class="month">/ year</div>
                   <div class="billed-monthly">Billed Yearly</div>
                  </div>
                </mat-card-title>
                   <mat-card-actions class="subscribe-actions">
                     <div class="subscribe-btn">
                      <button mat-button (click) = "subscribe()">Subscribe</button>
                     </div>
                   </mat-card-actions>
                </mat-card>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" >
              <mat-card class="script-share-card">
                  <mat-card-header class="share-script-header-cards">
                    <div class="monthly">
                    Yearly
                  </div>
                  </mat-card-header>
                  <mat-card-title>
                    <div class="price-bill-container">
                   <div class="price">$960</div><div class="month">/ year</div>
                   <div class="billed-monthly">Billed Yearly</div>
                  </div>
                </mat-card-title>
                   <mat-card-actions class="subscribe-actions">
                     <div class="subscribe-btn">
                      <button mat-button (click) = "subscribe()">Subscribe</button>
                     </div>
                   </mat-card-actions>
                </mat-card>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" >
              <mat-card class="script-share-card">
                  <mat-card-header class="share-script-header-cards">
                    <div class="monthly">
                    Yearly
                  </div>
                  </mat-card-header>
                  <mat-card-title>
                    <div class="price-bill-container">
                   <div class="price">$1920</div><div class="month">/ year</div>
                   <div class="billed-monthly">Billed Yearly</div>
                  </div>
                </mat-card-title>
                   <mat-card-actions class="subscribe-actions">
                     <div class="subscribe-btn">
                      <button mat-button (click) = "subscribe()">Subscribe</button>
                     </div>
                   </mat-card-actions>
                </mat-card>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1"></mat-grid-tile>
      
        </mat-grid-list>
 

               
                  <table class="table-wrapper" width="100%" cellspacing="10"  *ngIf = "orgId !=null">
                    <tr class="tr-header">
                      <th>Script Name</th>
                      <th>Description</th>
                      <th>Category</th>
                      <th>Sub-Category</th>
                      <th>Last Edited</th>
                      <th>Template</th>
                    </tr>
            
                    <tr *ngFor="let ln of list2">
                      <td>{{ln?.scriptName}}</td>
                      <td>{{ln?.description}}</td>
                      <td>{{ln?.category}}</td>
                      <td>{{ln?.subcategory}}</td>
                      <td>{{ln?.edited}}</td>
                      <td>{{ln?.template}}</td>
                      <td>
                          <div class="btn-group">
                            <button class="btn-v" (click) ="viewScript(ln)">view<mat-icon id="crnt-icon" svgIcon="view"></mat-icon> </button>
                            <button class="btn-d" (click)="deleteScript(ln)" >remove<mat-icon id="delete-icon" svgIcon="delete"></mat-icon></button>
                          </div>
                      </td>
                    </table>
                   
              
              