#banner{  
  display: table;
  margin-left: auto;
  margin-right: auto;
  }

.banner-img{
  object-fit: cover;
  object-position: 50% 35%;
  }
  
  
.title{
  top: 35%;
  color: #223458;
  text-shadow: #fef7f1 1px 0 10px;
  }

  .icon{
    position: absolute;
    display: block;
    height: 180px;
    width: 100%;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    top: -5%;
  }

// .grid-container {
//     display: grid;
//     grid-column-gap: 10px;
//     grid-row-gap: 10px;
//     grid-template-columns: 20% 20% 20%;
//     padding: 10px;
//     align-content: center;
//     text-align: center;
//   }
  
.share-script-description{
  padding: 10px;
  font-size: 16pt;
  
}
 
  .share-script-header-cards{
    background: #3a4f6e;
    text-align: center;
    font-variant-caps: all-small-caps;
    color: white;
    height: 40px;
    font-size: 20pt;
    font-weight: 500;
    margin: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  ::ng-deep .mat-card.script-share-card.mat-card{
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    box-shadow: 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 0;
    border-radius: 4px;
    width: 300px;
    justify-content: center;
    margin: 0;
    height: 230px;
  }
  

  .mat-card-header-text{
    // margin-left: auto;
    // margin-right: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    margin: 0;
}


  .price{
    font-size: 20pt;
    font-weight: 800;
    margin-top: 20px;
    display: inline-block;
    
  }

  .month{
    font-size: 16pt;
    display: inline-block;
    margin-top: 20px;
    padding-left: 16px;
    
  }
  
 
  .monthly{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .billed-monthly{
    font-size: 16pt;
    padding: 20px;
    text-align: center;
  }

  .subscribe-btn{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .mat-card-actions.subscribe-actions.mat-card-actions{
    padding: 8px 0;
    text-align: center;
    float: none;
  }

  .price-bill-container{
    text-align: center;
  }

  .users{
    font-size: 20pt;
    font-variant-caps: all-petite-caps;
    font-weight: bolder;
  }
  
  /*Styling for mat tab e.g. saved, uploaded, purchased for share script*/
  .gridList{
    // box-shadow: 5px 10px 8px #b9b9b3;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

/*******************TABLE STYLING*******************/

th{
  height: 20px;
  justify-content: space-evenly;
  justify-items: center;
  font-variant-caps: all-petite-caps;
  letter-spacing: 2pt;
  font-size: 16pt;
  background: #ad9999b0;
  color: white;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
 
}

td:nth-child(1) {  
  font-variant-caps: all-petite-caps;
  letter-spacing: 2pt;
  font-size: 18pt;
  font-weight: bold;
  background: #c6b9b940;
  border-radius: 4px;
}

td:nth-child(n) {  
  font-variant-caps: all-petite-caps;
  letter-spacing: 1pt;
}


td{
text-align: center;
table-layout: fixed;
  width: 500px;
}
.tr-header{
  height: 50px;
}
tr{
  height: 100px;
  text-align: center;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

tr:hover{
  background: whitesmoke;}

  /*******************TABLE STYLING*******************/
  
/**********************************BUTTON EFFECTS**********************************/
.mat-card-actions.mat-card-actions-current.mat-card-actions,
.mat-card>.mat-card-actions:last-child,
.mat-icon notranslate mat-icon-no-color{
  margin: 0;
  padding: 0;
}


.mat-card-actions .mat-button:first-child, .mat-card-actions .mat-raised-button:first-child{
  margin: auto;
  width: 100%;
}

.btn-group-special {		
  position: relative;	
  display: inline-block;
  width: 100px;
  border: 1px solid black;
  margin: auto;
}

.btn-group {		
  position: relative;	
  display: inline-block;
  width: 250px;
  border: 1px solid black;
  margin: auto;
}

.btn-v, .btn-e, .btn-u, .btn-d {
  width: 60px;
  height: 50px;
  padding: 3px;
  font-size: 10pt;
  background: #3a4f6e;
  color: white;
  font-variant-caps: all-petite-caps;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0 8px 6px -6px black;
  border: 1px solid white;
  border: none;
  
}


.btn-e:hover{
  background: orange;
}

.btn-v:hover{
  background: green;
}

.btn-u:hover{
  background: purple;
}

.btn-d:hover{
  background: brown;
}
 

#crnt-icon{
  display: block !important;
  margin-left: auto;
  margin-right: auto;
  color: white;
  width: 20px;
  height: 20px;
}

#delete-icon {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
  width: 20px;
  height: 20px;
  color: red;
}
/**********************************BUTTON EFFECTS**********************************/


  // .current-card{
  //   // background: white;
  //   color: black;
  // }
  // ::ng-deep .mat-card.current-card.mat-card{
  //   // display: inline-block;
  //   padding: 0;
  //   position: relative;
  //   width: 90%;
  //   box-shadow: none;
  // }

  // ::ng-deep .mat-card-header.header-card.mat-card-header{
  //   display: flex;
  //   flex-direction: row;
  //   font-size: xx-large;
  //   font-weight: 500;
  //   // background: #091c3a;
  //   // color: white;
  //   font-variant-caps: all-small-caps;
  //   border-radius: 10px;
  //   // box-shadow: 5px 6px 11px 1px rgba(0,0,0,0.94);
  //   color: darkred;
  //   background: #FFFFFF;
  //   text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
   
  // }

 

  // ::ng-deep .mat-card-title.title-card.mat-card-title{
  //   margin: 10px 0 10px 0;
  //   text-align: center;
  // }

  // .content-div{
  //   margin: 10px 0 10px 0;
  //   text-align: center;
  // }

  // .current-tbl{
  //   padding: 10px;
  //   font-size: 16pt;
  // }
  // .btn-card{
  //   box-shadow: none;
  //   width: 100%;
  //   margin: 0;
  // }



// .mat-icon#crnt-icon.mat-icon.notranslate.mat-icon-no-color{
//   margin: 0;
// }

.mat-card-actions.mat-card-actions-current.mat-card-actions{
  margin: 0;
  padding: 0;
}


.mat-card-actions .mat-button:first-child, .mat-card-actions .mat-raised-button:first-child{
  margin: 0;
width: 130px;
}

.mat-card>.mat-card-actions:last-child{
  margin: 0;
  padding: 0;
}

// .crnt-btn{
//      color: white;
//    display: block;
//   //  margin-right: 3px;
//    font-size: 16pt;
//    box-shadow: 5px 6px 11px 1px rgba(0,0,0,0.94);
//    font-variant-caps: all-petite-caps;
//     letter-spacing: 2pt;
// }

// .btn-icon{
//   fill: red;
// }

// .crnt-icon{
//   display: block;
//   justify-content: center;
//   fill: white;
//   width: 80%;
//   margin: auto;
// }


// .del-btn{
//   // background: #ffffff;
//   color: red;
//   display: block;
//   font-size: 16pt;
//   // box-shadow: 5px 6px 11px 1px rgba(0,0,0,0.94);
// }

