        <div class="terms"><b>Privacy Policy for Script Share</b><br> </div>

        Script share is a service for legitimate organisations, Businesses that are not acting in accordance
        with ACCC regulations cannot be fully protected by Sales Script Application as sales script if
        necessary, could cooperate with ACCC on investigative manners. Sales Script has fully protected your
        rights to build and share built or bought scripts within your sales team and Sales script will be held
        liable if scripts are leaked to other business through the Sales Script Application. Sales Script
        recognises that all information within the registration of the business to the service will be held
        within the strictest confidentiality and used only for the purpose of running the application. If Sales
        Script doesn’t receive necessary funds for the subscription then the function of the subscription for
        your business could be compromised.