
 <div class="container text-center">
  <h1 style="font-size:70px;">Current Script</h1>
 
</div>


<mat-tab-group>
  <mat-tab label="Saved">
      <table *ngIf= "saved">

          <tr *ngFor="let li of list">
            <td >
              Name: {{li.scriptName}}<br>
              Description: {{li.description}}<br>
              Category: {{li.category}}<br>
              <button type="button" (click)="editScript(li)">Edit</button>
              <button type="button" (click)="deleteScript(li)">Delete</button>
            </td>
            <td >
              Data goes here
            </td>
          </tr>
        
        </table>
  </mat-tab>
  <mat-tab label="Uploaded">
      <table *ngIf= "uploaded">

          <tr *ngFor="let li of list">
            <td >
              Name: <br>
              Description: <br>
              Category: <br>
            </td>
            <td >
              Data goes here
            </td>
          </tr>
        </table>
  </mat-tab>
  <mat-tab label="Purchased">
      <table *ngIf= "purchased">
          <tr *ngFor="let li of list">
            <td >
              Name: <br>
              Description: <br>
              Category: <br>
            </td>
            <td >
              Data goes here
            </td>
          </tr>
        </table>
  </mat-tab>
</mat-tab-group>