
.banner-img{
  object-fit: cover;
  object-position: 20%;
 
  }
  
  .title{
margin-left: 10%;
margin-right: auto;
  top: 35%;
  }

  .imgr{
    opacity: 0.5;
    height: 40%;
    width: 40%;
    padding-right: 250px;
    padding-top: 20px;
  }
  
  .imgr:hover, .imgl:hover, {
    opacity: 1.0;
  }

  .imgl{
    opacity: 0.5;
    height: 40%;
    width: 40%;
    padding-left: 250px;
    padding-top: 20px;
  }
  .current-tbl-left{
    font-size: 16pt;
    padding-left: 250px;
    padding-right: 20px;
    padding-top: 20px;
  }
  .current-tbl-right{
    font-size: 16pt;
    padding-right: 250px;
    padding-left: 20px;
    padding-top: 20px;
  }
  .gridList{
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

th{
  justify-content: space-evenly;
  justify-items: center;
  font-variant-caps: all-petite-caps;
  letter-spacing: 2pt;
  font-size: 16pt;
  background: #ad9999b0;
  color: white;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

td:nth-child(1) {  
  font-variant-caps: all-petite-caps;
  letter-spacing: 2pt;
  font-size: 18pt;
  font-weight: bold;
  background: #c6b9b940;
  border-radius: 4px;
}

td:nth-child(n) {  
  font-variant-caps: all-petite-caps;
  letter-spacing: 1pt;
}


td{
text-align: center;
}

tr{
  height: 50px;
text-align: center;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

tr:hover{
  background: whitesmoke;
}



  .current-card{
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 200px;
  }
  // ::ng-deep .mat-card.current-card.mat-card{
  //   padding: 0;
  //   position: relative;
  //   box-shadow: none;
  //   color: black;
  //   display: flex;
  //   flex-direction: column;
  //   flex-wrap: wrap;
  //   align-content: flex-start;
  //   width: 200px;
  // }
  
  // .title-card{
  //   display: flex;
  //   text-align: center;
  //   justify-content: center;
  //   padding: 10px;
  //   margin: 0;
  // }

  // .content-div, .content-card{
  //   margin: 10px 0 10px 0;
  //   text-align: center;
  //   flex-direction: column;
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: space-between;
  // }

  
  .btn-card{
    box-shadow: none;
    width: 85px;
    margin-left: auto;
    margin-right: auto;
    background: none;
    margin-top: auto;
    margin-bottom: auto;
  }



.mat-icon#crnt-icon.mat-icon.notranslate.mat-icon-no-color{
  margin-bottom: 5px;
}

.mat-card-actions.mat-card-actions-current.mat-card-actions,
.mat-card>.mat-card-actions:last-child{
  margin: 0;
  padding: 0;
}


.mat-card-actions .mat-button:first-child, .mat-card-actions .mat-raised-button:first-child{
  margin: auto;
width: 100%;
}


.crnt-btn{
  color: white;
  display: block;
  font-size: 14pt;
  box-shadow: 5px 6px 11px 1px rgba(0,0,0,0.94);
  font-variant-caps: all-petite-caps;
  letter-spacing: 2pt;
}

.crnt-icon{
  display: block;
  justify-content: center;
  fill: white;
  width: 50%;
  margin: auto;
}


.del-btn{
  color: red;
  display: block;
  font-size: 16pt;
}



