<div fxLayout="row" fxLayoutAlign="space-evenly center" > 
<div id="banner">
  <img class="banner-img" src="/assets/img/current.png" width="100%" height="100%">
  <img class="logo-img" src="/assets/img/Logo.png" alt="logo" width="100%">
  <div class="title">Current Script</div>
</div>
</div>

<div *ngIf=!loggedIn>
  <div fxLayout="row" fxLayoutAlign="space-evenly center" > 
    <div class="current-tbl-left">
        If you decide to sign up and use the current scripts menu what will appear will be all of your saved scripts along with 
        scripts that you have bought on the store and scripts that have been shared with you via script share if you haven’t saved 
        bought or shared anything then you will get a blank screen. If you have saved bought or shared scripts then a menu you come up that 
        looks something like this.
    </div><img class="imgr" src="/assets/img/build.PNG">
    
  </div>

  <div fxLayout="row" fxLayoutAlign="space-evenly center" > 
      <img class="imgl" src="/assets/img/build.PNG">
        <div class="current-tbl-right">
            The menu items will appear in chronological order with the most current items at the top of the list. As you can see there 
            are 2 different menu styles! The ones that have been bought and the ones that are saved! Scripts that have been shared can either 
            be bought or saved scripts. With the saved and the bought scripts, the table has been divided into 2 sections. The first section will show 
            the scripts heading and a description if you save a script it is important that you give it a heading but description is an optional item and 
            only really necessary if your wanting to upload and sell your script. A description will help sell your script to a potential consumer and if 
            they can see something in the description that they can identify with they will be more willing to have a look at it.
          </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-evenly center" > 
      <div class="current-tbl-left">
          If you can look at the saved scripts in the second section of the table there is category, sub category date saved and how many templates on 
          the script. The category is the category of what Industry the script of benefit for? If we use the example script for instance then you would 
          say it’s for the recruiting industry which would be broadly classified into human services. The sub category is what type of sales is it for e.g. 
          outbound, inbound, business development etc. How many templates is handy so you can gauge how big your script is and the date saved is the date 
          that you last edited it. In the top right-hand corner, you can see you have the option to upload the script or Edit the script.
        </div>
      <img class="imgr" src="/assets/img/build.PNG">
  </div>
  
  <div fxLayout="row" fxLayoutAlign="space-evenly center" > 
      <img class="imgl" src="/assets/img/build.PNG">
        <div class="current-tbl-right">
            By clicking the editing function, it enables you to go into the script templates themselves and from their you can change your script to whatever 
            you want or need it to be. The heading, description, Category and sub category can all be changed via the save as option or save option when editing the script. 
        </div>
  </div>
  
  <div fxLayout="row" fxLayoutAlign="space-evenly center" > 
          <div class="current-tbl-left">
              If you decide to upload your script for sale this screen should appear. This is so you can upload your script on the Sales Script Market where buyers 
              have the option to purchase your script for an allocated price. Note this is why its handy to have a good description and to choose a category and sub 
              category plus allocate a realistic price. The market will determine how much your script is worth so if you’re not selling many scripts then you may 
              need to adjust the price or if your selling scripts by the hundreds then you might even see fit to raise your price for the script. 
            </div>
            <img class="imgr" src="/assets/img/build.PNG">
  </div>

  <div fxLayout="row" fxLayoutAlign="space-evenly center" > 
      <img class="imgl" src="/assets/img/build.PNG">
            <div class="current-tbl-right">
                You will notice with the bought scripts on the second section of the table their will be some additional information such as how many users the script 
                has the star rating and the date it was uploaded. Every user when purchasing a script has the option to rate the script after they have used it which 
                gets averaged out into a star rating out of 5 stars. If you can see how long a script has been on the market for compared to how many users it has it 
                will give you a good indication of how popular a script is and its value in the market. Bought scripts can’t be uploaded again nor can they be edited.
                <p>
                Your current scripts give you autonomy on what scripts to use and when best to use them and I would highly recommend having a good collection of 
                scripts at your disposal a different type of clients may need to have different scripts used on them even if its in the same industry.
              </p>
              </div>
  </div>
</div>

<!-- <mat-grid-list cols="4" rowHeight="100px" *ngIf=loggedIn label="Saved"> -->
    <!-- <mat-grid-tile [colspan]="1"></mat-grid-tile>
    <mat-grid-tile [colspan]="2">This is where all your saved scripts are listed.</mat-grid-tile>
    <mat-grid-tile [colspan]="1"></mat-grid-tile>
  </mat-grid-list> -->
<mat-tab-group *ngIf=loggedIn style="margin-left: 5%; margin-right: 5%;margin-top: 3%">

<mat-tab label="Saved"> 
   
      <table width="100%" cellspacing="10" >
        <tr>
          <th>Script Name</th>
          <th>Description</th>
          <th>Category</th>
          <th>Sub-Category</th>
          <th>Last Edited</th>
          <th>Template</th>
         
        </tr>

        <tr *ngFor="let li of list">
          <td>{{li.scriptName}}</td>
          <td>{{li.description}}</td>
          <td>{{li.category}}</td>
          <td>{{li.subcategory}}</td>
          <td>{{li.edited}}</td>
          <td>{{li.template}}</td>
          <td>
              <div class="btn-group">
                <button class="btn-v">view<mat-icon id="crnt-icon" svgIcon="view"></mat-icon> </button>
                <button class="btn-e">edit<mat-icon id="crnt-icon" svgIcon="edit"></mat-icon> </button>
                <button class="btn-u">upload<mat-icon id="crnt-icon" svgIcon="upload"></mat-icon> </button>
                <button class="btn-d">remove<mat-icon id="delete-icon" svgIcon="delete"></mat-icon> </button>
              </div>
          </td>


<!--           
          <td><mat-card class="btn-card" >
              <mat-card-actions>
                <button class="crnt-btn" mat-button (click) ="viewScript(li)">View
                    <div class="crnt-icon">
                    <mat-icon id="crnt-icon" svgIcon="view"></mat-icon>
                    </div>
                </button>
          </mat-card-actions>
          </mat-card>
        </td>
          <td>
            <mat-card class="btn-card">
                <mat-card-actions class="mat-card-actions-current">
                    <button class="edit-btn" mat-button (click)="editScript(li)">Edit
                      <div class="crnt-icon">
                        <mat-icon id="btn-icon" svgIcon="edit"></mat-icon>
                      </div>
                    </button>
                </mat-card-actions>
              </mat-card>
          </td>
          <td>
            <mat-card class="btn-card">
                <mat-card-actions class="mat-card-actions-current">
                  <button class="upload-btn" mat-button (click)='uploadScript(li)'>Upload
                      <div class="crnt-icon">
                      <mat-icon id="btn-icon" svgIcon="upload"></mat-icon>
                      </div>
                  </button>
                </mat-card-actions>
              </mat-card>
          </td>
          <td>
            <mat-card class="btn-card">
                <mat-card-actions class="mat-card-actions-current">
                  <button class="remove-btn" mat-button (click)="deleteScript(li)" [routerLink]="[ '/current-script' ]">Remove
                    <div class="del-btn">
                    <mat-icon id="btn-icon" svgIcon="delete"></mat-icon>
                  </div>
                  </button>
                </mat-card-actions>
              </mat-card>
          </td> -->
          </tr>
        </table> 
    
  </mat-tab>

  <mat-tab label="Uploaded">
  
    <table width="100%" cellspacing="10" >
        <tr>
          <th>Script Name</th>
          <th>Description</th>
          <th>Category</th>
          <th>Sub-Category</th>
          <th>Price</th>
          <th>Last Edited</th>
          <th>Template</th>
          <th>Review</th>
          <th>Rating</th>
        </tr>

        <tr *ngFor="let lo of list">
          <td>{{lo.scriptName}}</td>
          <td>{{lo.description}}</td>
          <td>{{lo.category}}</td>
          <td>{{lo.subcategory}}</td>
          <td>{{lo.price}}</td>
          <td>{{lo.edited}}</td>
          <td>{{lo.template}}</td>
          <td>this is a review</td>
          <td>5 stars</td>
          <td><mat-card class="btn-card" >
              <mat-card-actions>
                <button class="crnt-btn" mat-button (click) ="viewScript(li)">View
                    <div class="crnt-icon">
                    <mat-icon id="crnt-icon" svgIcon="view"></mat-icon>
                    </div>
                </button>
          </mat-card-actions>
          </mat-card>
        </td>
          <td>
            <mat-card class="btn-card">
                <mat-card-actions class="mat-card-actions-current">
                    <button class="crnt-btn" mat-button (click)="editScript(li)">Edit
                      <div class="crnt-icon">
                        <mat-icon id="btn-icon" svgIcon="edit"></mat-icon>
                      </div>
                    </button>
                </mat-card-actions>
              </mat-card>
          </td>
          <td>
            <mat-card class="btn-card">
                <mat-card-actions class="mat-card-actions-current">
                  <button class="crnt-btn" mat-button (click)='uploadScript(li)'>Upload
                      <div class="crnt-icon">
                      <mat-icon id="btn-icon" svgIcon="upload"></mat-icon>
                      </div>
                  </button>
                </mat-card-actions>
              </mat-card>
          </td>
          <td>
            <mat-card class="btn-card">
                <mat-card-actions class="mat-card-actions-current">
                  <button class="crnt-btn" mat-button (click)="deleteScript(li)" [routerLink]="[ '/current-script' ]">Remove
                    <div class="del-btn">
                    <mat-icon id="btn-icon" svgIcon="delete"></mat-icon>
                  </div>
                  </button>
                </mat-card-actions>
              </mat-card>
          </td>
          </tr>
        </table> 
</mat-tab>


  <mat-tab label="Purchased">
    
      <table width="100%" cellspacing="10" >
          <tr>
            <th>Script Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Sub-Category</th>
            <th>Price</th>
            <th>Last Edited</th>
            <th>Template</th>
            <th>Review</th>
            <th>Rating</th>
          </tr>
  
          <tr *ngFor="let lo of list">
            <td>{{lo.scriptName}}</td>
            <td>{{lo.description}}</td>
            <td>{{lo.category}}</td>
            <td>{{lo.subcategory}}</td>
            <td>{{lo.price}}</td>
            <td>{{lo.edited}}</td>
            <td>{{lo.template}}</td>
            <td>this is a review</td>
            <td>5 stars</td>
            <td><mat-card class="btn-card" >
                <mat-card-actions>
                  <button class="crnt-btn" mat-button (click) ="viewScript(li)">View
                      <div class="crnt-icon">
                      <mat-icon id="crnt-icon" svgIcon="view"></mat-icon>
                      </div>
                  </button>
            </mat-card-actions>
            </mat-card>
          </td>
            <td>
              <mat-card class="btn-card">
                  <mat-card-actions class="mat-card-actions-current">
                      <button class="crnt-btn" mat-button (click)="editScript(li)">Edit
                        <div class="crnt-icon">
                          <mat-icon id="crnt-icon" svgIcon="edit"></mat-icon>
                        </div>
                      </button>
                  </mat-card-actions>
                </mat-card>
            </td>
            <td>
              <mat-card class="btn-card">
                  <mat-card-actions class="mat-card-actions-current">
                    <button class="crnt-btn" mat-button (click)="deleteScript(li)" [routerLink]="[ '/current-script' ]">Remove
                      <div class="del-btn">
                      <mat-icon id="btn-icon" svgIcon="delete"></mat-icon>
                    </div>
                    </button>
                  </mat-card-actions>
                </mat-card>
            </td>
            </tr>
          </table> 
 
    </mat-tab>
</mat-tab-group>