
.banner-img{
  object-fit: cover;
  object-position: 20%;
 
  }
  
  .title{
margin-left: 10%;
margin-right: auto;
  top: 35%;
  }

  .gridList{
    // box-shadow: 5px 10px 8px #b9b9b3;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

  

  .btn-card{
    margin: 16px;
    box-shadow: none;
  }

  .current-card{
    // background: white;
    color: black;
  }
  ::ng-deep .mat-card.current-card.mat-card{
    display: inline-block;
    padding: 0;
    position: relative;
    width: 90%;
    box-shadow: none;
  }

  ::ng-deep .mat-card-header.header-card.mat-card-header{
    display: flex;
    flex-direction: row;
    font-size: xx-large;
    font-weight: 500;
    // background: #091c3a;
    // color: white;
    font-variant-caps: all-small-caps;
    border-radius: 10px;
    // box-shadow: 5px 6px 11px 1px rgba(0,0,0,0.94);
    color: darkred;
    background: #FFFFFF;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
  }

 

  .img{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
    width: 5%;
    height: 5%;
    max-height: 7%;
    max-width: 7%;
  }

  ::ng-deep img.img.mat-card-image{
    // margin: 5px;
    display: inline;
  }

  ::ng-deep .mat-card-title.title-card.mat-card-title{
    margin: 10px 0 10px 0;
  }

  .content-div{
    margin: 10px 0 10px 0;
  }

  .current-tbl{
    padding: 10px;
    font-size: 16pt;
  }

.crnt-btn{
   background: #ffffff;
   color: black;
  //  box-shadow: 5px 6px 11px 1px rgba(0,0,0,0.94);
}

.del-btn{
  background: #ffffff;
  color: red;
  // box-shadow: 5px 6px 11px 1px rgba(0,0,0,0.94);
}

::ng-deep .mat-icon.mat-icon.notranslate.mat-icon-no-color{
  margin: 0;
}
// .upload-btn{
//   background: #ffffff;
//    color: #911c5a;
// }

// .edit-btn{
//   background: #ffffff;
//    color: #26a96b;
// }
