<div class="terms"><b>Fees for Scripts</b><br> </div>
Script expenses are covered by a minimum $1.50 fee charged per script which is to cover the PayPal
and Sales Script fees. Anything above $1.50 will be distributed into your account although this can
take up to one month for settlement. There is no GST involved and takes no responsibility for taking
out tax on your behalf.

<mat-grid-list cols ="2" rowHeight ="50px">
    <mat-grid-tile>
        <h3>Price:</h3>
    </mat-grid-tile>
    <mat-grid-tile>
        <input matInput [(ngModel)]="price">
    </mat-grid-tile>
    <mat-grid-tile [colspan] ="2">
        <button mat-button (click) ="submit()">Submit</button>
    </mat-grid-tile>
</mat-grid-list>