<header>
  <div class ="container">
    <nav>
        <ul id="leftNav" *ngIf =loggedIn>
          <li><a [routerLink]="[ '/home' ]">Home</a></li>
          <li><a [routerLink]="[ '/example-script' ]"><div>Example Scripts</div></a></li>
          <li><a [routerLink]="[ '/build-script' ]"><div>Build Scripts</div></a></li>
          <li><a [routerLink]="[ '/current-script' ]"><div>Current Scripts</div></a></li>
          <li><a [routerLink]="[ '/store' ]">Store</a></li>
          <li><a [routerLink]="[ '/script-share' ]">Script Share</a></li>
          <div class = "rightNav">
          <li><a [routerLink]="[ '/cart' ] "><img src="./assets/cart.png"  style= "width:40px; height:40px" title="cart" alt="cart"></a></li>
          <li><button (click) ="logout()">Logout</button>
          </div>
        </ul>
        <ul class = "rightNav" *ngIf = !loggedIn>          
          <li ><a [routerLink]="[ '/login' ]">Login</a></li>
          <li ><a [routerLink]="[ '/register' ]">Register</a></li>
        </ul>
      </nav>
    </div>
  </header>
