header {
    background: #2f353a
    
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline;
}

li{
  display: inline;
  // float: left;
  padding-top: 0px;
  padding-bottom: 0px;
  overflow: hidden;
}

li a{
  display: block;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 80%;
  height:100%
}

li a:hover {
  background-color:gray;
  color: black;
  
}
li a:active{
  background-color: rgb (34, 52, 88);
  color: white;
}
.rightNav{
position: absolute;
right: 0px;
}
*/

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
body {
  margin: 0;
}
.app-toolbar {
 
  display: flex;
  outline: none;
  border: none;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}