
/*START BANNER*/
.banner-img{
    object-fit: contain;
    object-position: right;
    }
  
    .title{
      top: 35%;
    }
  
  /*END BANNER*/
  
  /*START SCRIPT DETAILS*/
    .script-details-container{
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  
    .input-details{
      display: inline-block;
      border: none;
      font-size: 14pt;
    }
  
    .script-details{
      display: inline;
      font-weight: bold;
      padding-left: 1em;
      padding-right: 1em;
      font-size: 14pt;
    }
  
  /*END SCRIPT DETAILS*/

  /*****************BUTTON ROW***************/
  .add-btn >::ng-deep .mat-figure{
    justify-content: center;
  }

  .mat-btn {
    height:90%;
    width: 90%;
    margin: 10px;
    background: #3a4f6e;
    color: white;
    cursor: pointer;
    outline: 0;
    border: none;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    min-width: 64px;
    padding: 0 16px;
    border-radius: 5px;
    overflow: visible;
  }

  .add-answer{
    font-family: Roboto,"Helvetica Neue",sans-serif;
      font-size: 18px;
      font-weight: 500;
      font-variant-caps: all-petite-caps;
      letter-spacing: 2pt;
      line-height: 0;
      margin-top: 20px;
  }
  /*****************BUTTON ROW***************/
  
    .next-answer{
      top: 0;
      padding: 0;
      float: left;
    }
  
    .answer-title{
      display: inline-block;
      margin: 20px auto;
      font-size: 18pt;
      vertical-align: middle;
      color: white;
      position: relative;
      font-variant-caps: all-petite-caps;
      letter-spacing: 2pt;
     }
  
    .remove-answer{
      top: 0;
      padding: 0;
      float: right;
    }
    
    

    ::ng-deep .mat-card.view-card.mat-card{
      display: inline-block;
      box-shadow: 5px 10px 8px #b9b9b3;
      padding: 0;
      position: relative;
      width: 90%;
    }
    
    .mat-card-header{
      display: flex;
      flex-direction: row;
      background: #3a4f6e;
    }
  
    .boxed-pitch{
      justify-items: stretch;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      margin-bottom: auto;
      display: block;
      width: 90%;
      background: #3a4f6e;
      box-shadow: 5px 10px 8px #b9b9b3;
    }
    
    .pitch-title{
        color: white;
        text-align: center;
        font-size: 30pt;
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 10px;
        font-variant-caps: all-petite-caps;
        letter-spacing: 2pt;
    
    }
    
    textarea {
      margin: 0;
      border: none;
      width: 100%;
      vertical-align: bottom;
      background: #f1f1f1;
      resize: none;
      font-size: 20px;
      box-sizing: border-box;
      padding: 10px;
    }

  
    .edit-ribbon-container{
      background: #3a4f6e;
      border: 1px solid black;
      text-align: center;
      padding-left: 10%;
      padding-right: 10%;
    }
  
  
      .edit-icon{
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: inline-block;
        
      
      }
    
      .save-edit-container{
        text-align: center;
        background: #f1f1f1;
        padding-left: 10%;
        padding-right: 10%;
      
      }
      .save-btn{
        background: orangered;
        color: white;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
  
      .edit-btn{
        background: orange;
        color: white;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
   
    