<header class = "header"><h2 class = "mat-display-2">Edit Script</h2></header>


<mat-grid-list cols="11" rowHeight="50px">
<!--Script details-->

<mat-grid-tile [colspan]="4"></mat-grid-tile>
<mat-grid-tile [colspan]="3">
  <h3>Category: </h3>
  <input type="text" [(ngModel)] = "category">
</mat-grid-tile>
<mat-grid-tile [colspan]="4"></mat-grid-tile>
<mat-grid-tile [colspan]="4"></mat-grid-tile>
<mat-grid-tile [colspan]="3">
  <h3>Script Name: </h3>
  <input type="text" [(ngModel)] ="scriptName">
</mat-grid-tile>
<mat-grid-tile [colspan]="4"></mat-grid-tile>
<mat-grid-tile [colspan]="4"></mat-grid-tile>
<mat-grid-tile [colspan]="3">
  <button mat-button type="submit" value="submit">Save</button>
  <button mat-button (click)="addAnswer()">Add answer</button>
  <button mat-button (click)="removeAnswer()">Remove answer</button>
</mat-grid-tile>
<mat-grid-tile [colspan]="4"></mat-grid-tile>
<!--Objections-->



    <mat-grid-tile [colspan]="1"> </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan] ="3">
      <div class="boxed"><textarea [(ngModel)]="answers[0].texts" rows="4" cols="40" name="texts"></textarea>
        <button mat-button (click)="nextQuestion(answer[0])">Next Question</button>
      </div>
      </mat-grid-tile>
  
    <mat-grid-tile [colspan]="3" [rowspan] ="3">
      <div class="boxed" *ngIf="answer > 1">
        <textarea [(ngModel)]="answers[1].texts" rows="4" cols="40" name="texts"></textarea>
        <button mat-button (click)="nextQuestion(answer[1])">Next Question</button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan] ="3">
      <div class="boxed" *ngIf="answer > 2">
        <textarea [(ngModel)]="answers[2].texts" rows="4" cols="40" name="texts"></textarea>
        <button mat-button (click)="nextQuestion(answer[2])">Next Question</button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan] ="3"> </mat-grid-tile>
  
  
  
    <mat-grid-tile [colspan]="1" [rowspan] ="3"> </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan] ="3">
      <div class="boxed" *ngIf="answer > 3">
        <textarea [(ngModel)]="answers[3].texts" rows="4" cols="40" name="texts"></textarea>
        <button mat-button (click)="nextQuestion(answer[3])">Next Question</button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan] ="3">
      <div class="boxed" *ngIf="answer > 4">
        <textarea [(ngModel)]="answers[4].texts" rows="4" cols="40" name="texts"></textarea>
        <button mat-button (click)="nextQuestion(answer[4])">Next Question</button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan] ="3">
      <div class="boxed" *ngIf="answer > 5">
        <textarea [(ngModel)]="answers[5].texts" rows="4" cols="40" name="texts"></textarea>
        <button mat-button (click)="nextQuestion(answer[5])">Next Question</button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan] ="3"> </mat-grid-tile>
  
    <mat-grid-tile [colspan]="1" [rowspan] ="3"> </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan] ="3">
      <div class="boxed" *ngIf="answer > 6">
        <textarea [(ngModel)]="answers[6].texts" rows="4" cols="40" name="texts"></textarea>
        <button mat-button (click)="nextQuestion(answer[6])">Next Question</button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan] ="3">
      <div class="boxed" *ngIf="answer > 7">
        <textarea [(ngModel)]="answers[7].texts" rows="4" cols="40" name="texts"></textarea>
        <button mat-button (click)="nextQuestion(answer[7])">Next Question</button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan] ="3">
      <div class="boxed" *ngIf="answer > 8">
        <textarea [(ngModel)]="answers[8].tests" rows="4" cols="40" name="texts"></textarea>
        <button mat-button (click)="nextQuestion(answer[8])">Next Question</button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan] ="3"> </mat-grid-tile>
  
    <mat-grid-tile [colspan]="11" [rowspan] ="2"></mat-grid-tile>
    <mat-grid-tile [colspan]="3"> </mat-grid-tile>
    <mat-grid-tile [colspan]="5" [rowspan] ="5">
      <div class="boxed">
        <h6>Pitch</h6>
        <textarea [(ngModel)]="question" rows="8" cols="80"></textarea>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3"> </mat-grid-tile>
  
  </mat-grid-list>