<div fxLayout="row" fxLayoutAlign="space-evenly center" > 
<div id="banner">
  <img class="banner-img" src="/assets/img/store.png" width="100%" height="100%">
  <img class="logo-img" src="/assets/img/Logo.png" alt="logo" width="100%" heght="100%">
  <div class="title">Store</div>
</div></div>
<div *ngIf = !loggedIn>
    <div fxLayout="row" fxLayoutAlign="space-evenly center" >    
        <div class="store-tbl-left">
            If you are wanting to buy scripts for yourself then you can go to the store icon which essentially 
            brings you out to the market of all of the sales script scripts that have been uploaded. When you 
            first go to the store screen it will look very familiar to the current scripts page except their will 
            be additional information for all scripts on the second part of the table. These will be obviously the 
            price of the script and also their will be a review section where you can click on reviews and you can
             read reviews from other people that have bought the script. If a script is a fake script or they are 
             just overloading a whole lot of rubbish just so they can make money then their reviews will soon 
             indicate this.
        </div>
        <img class="imgr" src="/assets/img/build.PNG">
    </div>

        <div fxLayout="row" fxLayoutAlign="space-evenly center" >
            <img class="imgl" src="/assets/img/build.PNG">
            <div class="store-tbl-right">
                    You will also notice that on the left-hand side of the menu is a filter bar where you can filter all of 
                    your searches. You may want all scripts from a particular industry that have been on the system for no
                        more than a year and are under a price of $5.00. This enables you to get the right script that you need
                        more effectively and without any fuss plus if you use this filter option effectively you could probably 
                        get some great value scripts that out, they’re in the market that most people wouldn’t be aware of.
            </div>
        </div>
    
        <div fxLayout="row" fxLayoutAlign="space-evenly center" >
            <div class="store-tbl-left">
                There is a shopping cart that you use and once you have clicked on the purchase icon for the scripts 
                then it will add to your shopping cart and once you have finished you can click on the cart and perform 
                the final transaction.
                <p>
                Once you have purchased a script it will immediately come up on your current scripts menu where you can use it for cold calling.
                </p>
            </div><img class="imgr" src="/assets/img/build.PNG">
          </div>
</div>

<div *ngIf = loggedIn>

<mat-drawer-container [hasBackdrop]="false" #mode value="side">

  <mat-drawer #drawer [mode]="mode.value">Search<br>
     <mat-form-field>
      <input matInput type = "text" placeholder="Keyword" [(ngModel)]="searchText" class="form-control">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option1</mat-option>
        <mat-option value="option">Option2</mat-option>
        <mat-option value="option">Option3</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-drawer>

  <mat-select #mode value="side"></mat-select>
  <mat-drawer-content>
    <button mat-raised-button (click)="drawer.toggle()">Search</button>
<table width="100%" cellspacing="10" >
        <tr class="tr-header">
          <th>Script Name</th>
          <th>Description</th>
          <th>Category</th>
          <th>Sub-Category</th>
          <th>Price</th>
          <th>Last Edited</th>
          <th>Template</th>
          <th>Reviews</th>
          <th>Rating</th>
        </tr>

        <tr *ngFor="let li of list">
          <td>{{li.scriptName}}</td>
          <td>{{li.description}}</td>
          <td>{{li.category}}</td>
          <td>{{li.subcategory}}</td>
          <td>{{li.price}}</td>
          <td>{{li.edited}}</td>
          <td>{{li.template}}</td>
          <td>this is a review</td>
          <td><star-rating [starType]="'icon'" [rating]="2.63"></star-rating></td>
          <td>
            <div class="btn-group">
                <button class="btn-v" (click) ="viewScript(li)">VIEW<mat-icon id="crnt-icon" svgIcon="view"></mat-icon> </button>
                <button class="btn-a" (click) = "addToCart(li)">add<mat-icon id="crnt-icon" svgIcon="cart"></mat-icon></button>
            </div>
              </td>
          </tr>
        </table> 
    
  </mat-drawer-content>
</mat-drawer-container>
