
/*BEGIN BANNER*/
.banner-img {
  width: 500px;
  object-fit: contain;
  margin-right: 30px;
  }
  
  .title {
  top: 40%;
  }

/*END BANNER*/
  
  .imgr{
    opacity: 0.5;
    height: 40%;
    width: 40%;
    padding-right: 250px;
    padding-top: 20px;
  }

  .imgr:hover, .imgl:hover, {
    opacity: 1.0;
  }

  .imgl{
    opacity: 0.5;
    height: 40%;
    width: 40%;
    padding-left: 250px;
    padding-top: 20px;
  }
  .store-tbl-left{
    font-size: 16pt;
    padding-left: 250px;
    padding-right: 20px;
    padding-top: 20px;
  }
  .store-tbl-right{
    font-size: 16pt;
    padding-right: 250px;
    padding-left: 20px;
    padding-top: 20px;
  }

  th{
    justify-content: space-evenly;
    justify-items: center;
    font-variant-caps: all-petite-caps;
    letter-spacing: 2pt;
    font-size: 16pt;
    background: #edc317;
    color: white;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    table-layout: fixed;
    width: 500px;
  }
  
  td:nth-child(1) {  
    font-variant-caps: all-petite-caps;
    letter-spacing: 2pt;
    font-size: 18pt;
    font-weight: bold;
    background: #c6b9b940;
    border-radius: 4px;
  }
  
  td:nth-child(n) {  
    font-variant-caps: all-petite-caps;
    letter-spacing: 1pt;
  }
  
  
  td{
  text-align: center;
  word-wrap:break-word;
  padding: 10px;
  }
  
  tr{
    height: 50px;
  text-align: center;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  }
  
  tr:hover{
    background: whitesmoke;
  }

  .cart-btn{
      background: #ffffff;
   }

.btn-card{
  box-shadow: none;
  background: none;
  margin: auto;
}
 .view-btn, .add-btn{
    box-shadow: none;
    width: 85px;
    margin: auto;
    background: none;
    background: #3a4f6e;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.add-btn:hover{
  opacity: 0.5;
  background: green;
}

.view-btn:hover{
  opacity: 0.5;
  background: orange;
}

.crnt-icon{
  display: block;
  justify-content: center;
  fill: white;
  width: 80%;
  margin: auto;
}

   ::ng-deep .mat-icon.cart-icon.mat-icon.notranslate.mat-icon-no-color{
     fill: black;
   }

   ::ng-deep .mat-drawer-content{
    background: white;
   }



 

