/*BEGIN BANNER*/
.banner-img {
  width: 500px;
  object-fit: contain;
  margin-right: 30px;
  }
  
  .title {
  top: 40%;
  }

/*END BANNER*/

.store-header{
  display: flex;
    flex-direction: row;
    font-size: xx-large;
    font-weight: 500;
    font-variant-caps: all-small-caps;
    border-radius: 10px;
    color: darkred;
    background: #FFFFFF;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
    padding-left: 10px;
  }
  
  .imgr{
    opacity: 0.5;
    height: 40%;
    width: 40%;
    padding-right: 250px;
    padding-top: 20px;
  }
  .imgr:hover, .imgl:hover, {
    opacity: 1.0;
  }

  .imgl{
    opacity: 0.5;
    height: 40%;
    width: 40%;
    padding-left: 250px;
    padding-top: 20px;
  }
  .store-tbl-left{
    font-size: 16pt;
    padding-left: 250px;
    padding-right: 20px;
    padding-top: 20px;
  }
  .store-tbl-right{
    font-size: 16pt;
    padding-right: 250px;
    padding-left: 20px;
    padding-top: 20px;
  }
  
  .gridList{
    // box-shadow: 5px 10px 8px #b9b9b3;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.store-card{
  display: flow-root;
  padding: 0;
  position: relative;
  width: 90%;
  box-shadow: none;
  justify-content: center;
  }

  .mat-card-subtitle:not(:first-child), .mat-card-title:not(:first-child){
    margin: 0;
  }
  .title-card{
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .content-div{
    margin: 10px 0 10px 0;
    text-align: center;
  }

  .cart-btn{
      background: #ffffff;
   }

.btn-card{
  box-shadow: none;
  background: none;
}
 .crnt-btn{
  color: white;
display: block;
//  margin-right: 3px;
font-size: 16pt;
box-shadow: 5px 6px 11px 1px rgba(0,0,0,0.94);
font-variant-caps: all-petite-caps;
 letter-spacing: 2pt;
}

.crnt-icon{
  display: block;
  justify-content: center;
  fill: white;
  width: 80%;
  margin: auto;
}

   ::ng-deep .mat-card-actions.mat-card-actions{
    float: right;
   }

   ::ng-deep .mat-icon.cart-icon.mat-icon.notranslate.mat-icon-no-color{
     fill: black;
   }

   ::ng-deep .mat-drawer-content{
    background: white;
   }



 

