
<div id="banner">
  <img class="banner-img" src="/assets/img/communication-contact-conversation-33999.jpg" width="100%" height="100%">
  <img class="logo-img" src="/assets/img/Logo.png" alt="logo" width="100%" heght="100%">
  <div class="title">Build Script</div>
</div>


<div class ="notLogged" *ngIf = !loggedIn>

  <p>
    This is where we build scripts
  </p>
</div>


<!--Script details-->


<div class="logged" *ngIf =loggedIn>

<form [formGroup]="scriptForm" (ngSubmit)="onSubmit()">
  <h3>Category: </h3><mat-form-field>
      <mat-label>Category</mat-label>
      <select matNativeControl required>
        <option value="IT">IT</option>
        <option value="Health">Health</option>
        <option value="Insurance">Insurance</option>
        <option value="Electricity">Electricity</option>
      </select>
    </mat-form-field>
    <h3>Sub-Category: </h3><mat-form-field>
        <mat-label>Sub-Category</mat-label>
        <select matNativeControl required>
          <option value="Business Development">Business Development</option>
          <option value="Sales Representative">Sales Representative</option>
          <option value="Telesales">Telesales</option>
          <option value="Marketing">Marketing</option>
          <option value="AccountManagement
          ">Account Management
            </option>
          <option value="Outbound">Outbound</option>
          <option value="Inbound">Inbound</option>
          <option value="Sales Management">Sales Management</option>
          <option value="Territory Sales">Territory Sales</option>
          <option value="Area Sales">Area Sales</option>
        </select>
      </mat-form-field>
  <h3>Script Name: </h3><input type="text" formControlName="scriptName">
  <p></p>
  <button mat-button type="submit" value="submit">Save</button>
</form>
<button mat-button (click)="addAnswer()">Add answer</button>

<!--Objections-->

<div class="grid-container" *ngIf="answer > 0">
  <div class="boxed">
      <button mat-button *ngIf ="saved" (click)="nextQuestion(answer[0],0)">Next Question</button>
    <button mat-button (click)="removeAnswer()">Remove answer</button>
    <textarea [(ngModel)]="answers[0]" editable="true" rows="4" cols="40" name="texts"></textarea>
    </div>
<br>
<div class="boxed" *ngIf="answer > 1">
    <button mat-button *ngIf ="saved" (click)="nextQuestion(answer[1],1)">Next Question</button>
    <button mat-button (click)="removeAnswer()">Remove answer</button>
  <textarea [(ngModel)]="answers[1]" rows="4" cols="40" name="texts"></textarea> 
</div>
<br>
<div class="boxed" *ngIf="answer > 2">
    <button mat-button *ngIf ="saved" (click)="nextQuestion(answer[2],2)">Next Question</button>
    <button mat-button (click)="removeAnswer()">Remove answer</button>
    <textarea [(ngModel)]="answers[2]" rows="4" cols="40" name="texts"></textarea>
 
</div>
<br>
<div class="boxed" *ngIf="answer > 3"> 
    <br>
    <textarea [(ngModel)]="answers[3]" rows="4" cols="40" name="texts"></textarea>
    <button mat-button *ngIf ="saved" (click)="nextQuestion(answer[3],3)">Next Question</button>
</div>
<br>
<div class="boxed" *ngIf="answer > 4">
    <br>
    <button mat-button *ngIf ="saved" (click)="nextQuestion(answer[4],4)">Next Question</button>
    <button mat-button (click)="removeAnswer()">Remove answer</button>
    <textarea [(ngModel)]="answers[4]" rows="4" cols="40" name="texts"></textarea>

</div>
<br>
<div class="boxed" *ngIf="answer > 5">
    <br>
    <button mat-button *ngIf ="saved" (click)="nextQuestion(answer[5],5)">Next Question</button>
    <button mat-button (click)="removeAnswer()">Remove answer</button>
    <textarea [(ngModel)]="answers[5]" rows="4" cols="40" name="texts"></textarea>

</div>
<br>
<div class="boxed" *ngIf="answer > 6">
    <br>
    <button mat-button *ngIf ="saved" (click)="nextQuestion(answer[6],6)">Next Question</button>
    <button mat-button (click)="removeAnswer()">Remove answer</button>
    <textarea [(ngModel)]="answers[6]" rows="4" cols="40" name="texts"></textarea>
   
</div>
<br>
<div class="boxed" *ngIf="answer > 7"> 
    <br>
    <button mat-button *ngIf ="saved" (click)="nextQuestion(answer[7],7)">Next Question</button>
    <button mat-button (click)="removeAnswer()">Remove answer</button>
    <textarea [(ngModel)]="answers[7]" rows="4" cols="40" name="texts"></textarea>
   
</div>
<br>
<div class="boxed" *ngIf="answer > 8">
    <br>
    <button mat-button *ngIf ="saved" (click)="nextQuestion(answer[8],8)">Next Question</button>
    <button mat-button (click)="removeAnswer()">Remove answer</button>
    <textarea [(ngModel)]="answers[8]" rows="4" cols="40" name="texts"></textarea>
  
</div>
<br>
</div>

<!--Pitch-->
<div class="boxed">
  <h6>Pitch</h6>
  <textarea [(ngModel)]="texts" rows="8" cols="80"></textarea>
</div>


</div>
<p></p>
<!--<button type="submit" value="submit" style="display: block; margin: 0 auto;">Save</button>-->
