/*BEGIN BANNER*/
.banner-img{
  object-fit: contain;
  object-position: right;
    }

.title{
  top: 35%;
  }
/*END BANNER*/

/*START SCRIPT DETAILS*/
.script-details-container{
  text-align: center;
  margin: 50px;
}

.input-details{
  display: inline-block;
  border: none;
  font-size: 14pt;
}

.script-details{
  display: inline;
  font-weight: bold;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 14pt;
}
/*END SCRIPT DETAILS*/

.next-answer{
  top: 0;
  padding: 0;
  float: left;
  fill: white;
}

  .add-btn >::ng-deep .mat-figure{
    justify-content: left;
  }

/*Override styling for Add new button icon*/
::ng-deep mat-icon.mat-icon.notranslate.mat-icon-no-color{
  //  color: white;
   margin-right: 10px;
}


::ng-deep .mat-grid-list.mat-grid-list{
  margin: 20px;
  display: block;
  position: relative;
}

.mat-card-header{
  display: flex;
  flex-direction: row;
  background: #3a4f6e;
}

::ng-deep div.mat-card-header-text{
  margin-left: 1px;
  margin-top: 23px;
  margin-bottom: 23px;
}

::ng-deep .mat-card.example-card.mat-card{
  display: inline-block;
  box-shadow: 5px 10px 8px #b9b9b3;
  padding: 0;
  position: relative;
  width: 90%;
}

.answer-title{
  display: inline-block;
  margin: 20px auto;
  font-size: 20px;
  vertical-align: middle;
  color: white;
  position: relative;
  font-variant-caps: all-petite-caps;
  letter-spacing: 2pt;
 }
 
 .remove-answer{
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  }

.boxed-pitch{
  justify-items: stretch;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: auto;
  display: block;
  width: 90%;
  background: #3a4f6e;
  box-shadow: 5px 10px 8px #b9b9b3;
}

.pitch-title{
    color: white;
    text-align: center;
    font-size: 30pt;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    font-variant-caps: all-petite-caps;
    letter-spacing: 2pt;

}

textarea {
  margin: 0;
  border: none;
  width: 100%;
  vertical-align: bottom;
  background: #f1f1f1;
  resize: none;
  font-size: 20px;
  box-sizing: border-box;
  padding: 10px;
}

.toolbar-container{
  background: #3a4f6e;
  text-align: center;
  margin: 10px;
  justify-items: stretch;
  display: flex;
  justify-content: space-around;
}

 :ng-deep .edit-icon.mat-button{
  justify-content: space-between;
}

  .save-edit-container{
    text-align: center;
    margin: 10px;
    padding: 5px;
  }

  .save-btn{
    background: orange;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
