
.banner-img{
  object-fit: contain;
  object-position: right;
  
  }
  
  .logo-img{
  margin-left: auto;
  margin-right: auto;
  top: 0;
  }
  
  .title{
  top: 35%;
  }

.mat-button-wrapper{
  text-align: center;
  margin-bottom: 15px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  background: rgb(34, 52, 88);
}


.grid-container {
  display: inline-grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.boxed {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
textarea {
  resize: none;
}
.pitch{
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 2px;
  font-size: 30px;
  text-align: center;
}