/*BEGNI BANNER*/
.banner-img{
  object-fit: contain;
  object-position: right;
  
  }
  
  .logo-img{
  margin-left: auto;
  margin-right: auto;
  top: 0;
  }
  
  .title{
  top: 35%;
  }
/*END BANNER*/

/*START SCRIPT DETAILS*/
.script-details-container{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.input-details{
  display: inline-block;
  border: none;
  font-size: 14pt;
}

.script-details{
  display: inline;
  font-weight: bold;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 14pt;
}

/*END SCRIPT DETAILS*/

.add-btn{
  color: white;
  background: #3a4f6e;
  width: 150px;
}

.new-answer-text{
  margin-left: 10px;
  display: inline-block;
}
.new-ans-btn-container{
  left: 16%;
  right: auto;
  // bottom: 0;
  // position: absolute;
  display: grid;
  align-items: left;
  justify-content: center;
  height: 100%;
}

// .mat-figure{
//     // top: 0;
//     left: 16%;
//     right: auto;
//     // bottom: 0;
//     // position: absolute;
//     display: grid;
//     align-items: left;
//     justify-content: center;
//     height: 100%;
// }
// .mat-button-wrapper{
//   text-align: center;
//   margin-bottom: 15px;
//   margin-top: 80px;
//   margin-left: auto;
//   margin-right: auto;
//   background: rgb(34, 52, 88);
// }


// .grid-container {
//   display: inline-grid;
//   grid-column-gap: 10px;
//   grid-row-gap: 10px;
//   grid-template-columns: auto auto auto;
//   padding: 10px;
// }

// .boxed {
//   border: 1px solid rgba(0, 0, 0, 0.8);
//   padding: 10px;
//   font-size: 30px;
//   text-align: center;
// }
// textarea {
//   resize: none;
// }
// .pitch{
//   border: 1px solid rgba(0, 0, 0, 0.8);
//   padding: 2px;
//   font-size: 30px;
//   text-align: center;
// }