    
        
        <h3>Script Name: </h3><input matInput [(ngModel)]="name" placeholder ="Input Name">
        <h3>Category: </h3>
    <mat-form-field>
        <mat-select  [(ngModel)]="category">
          <mat-option value="IT">IT</mat-option>
          <mat-option value="Health">Health</mat-option>
          <mat-option value="Insurance">Insurance</mat-option>
          <mat-option value="Electricity">Electricity</mat-option>
        </mat-select>
    </mat-form-field>
      <h3>Sub-Category: </h3>
      <mat-form-field>
          <select matNativeControl [(ngModel)] ="subcategory">
            <option value="Business Development">Business Development</option>
            <option value="Sales Representative">Sales Representative</option>
            <option value="Telesales">Telesales</option>
            <option value="Marketing">Marketing</option>
            <option value="Account Management">Account Management</option>
            <option value="Outbound">Outbound</option>
            <option value="Inbound">Inbound</option>
            <option value="Sales Management">Sales Management</option>
            <option value="Territory Sales">Territory Sales</option>
            <option value="Area Sales">Area Sales</option>
          </select>
        </mat-form-field>
    <textarea [(ngModel)]="description"></textarea>
    <p></p>
    <button mat-button (click) = "closeDialog()">Save</button>
    