    
       <!-- <button mat-button ><mat-icon>
          <mat-icon svgIcon="remove">
       </mat-icon></button> -->
       <mat-grid-list cols="2" rowHeight="50px">
        <mat-grid-tile class="dialog-left" [colspan]="1">
          <div class="heading-left">
          <h3>Script Name:</h3>
        </div>
        </mat-grid-tile>
        <mat-grid-tile class="dialog-right" [colspan]="1">
          <input class="input-right" matInput [(ngModel)]="name" placeholder ="Input Name">
        </mat-grid-tile>
        <mat-grid-tile class="dialog-left" [colspan]="1">
        <h3 class="heading-left"> Category:</h3> 
        </mat-grid-tile>
        <mat-grid-tile class="dialog-right" [colspan]="1">
          <mat-form-field class="input-right">
                   <mat-select  [(ngModel)]="category">
          <mat-option value="Hospitality">Hospitality</mat-option>
          <mat-option value="Trades">Trades</mat-option>
          <mat-option value="Accounting">Accounting</mat-option>
          <mat-option value="Health">Health</mat-option>
          <mat-option value="Sales and Marketing">Sales and Marketing</mat-option>
          <mat-option value="Management">Management</mat-option>
          <mat-option value="Manufacturing">Manufacturing</mat-option>
          <mat-option value="Government">Government</mat-option>
          <mat-option value="Engineering & Information Technology">Engineering & Information Technology</mat-option>
          <mat-option value="Banking & Finance">Banking & Finance</mat-option>
        </mat-select>
        </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile class="dialog-left" [colspan]="1">
          <h3 class="heading-left">Sub-Category:</h3>
        </mat-grid-tile>
        <mat-grid-tile class="dialog-right" [colspan]="1">
          <mat-form-field class="input-right" >
            <mat-select [(ngModel)] ="subcategory">
              <mat-option value="Business Development">Business Development</mat-option>
              <mat-option value="Sales Representative">Sales Representative</mat-option>
              <mat-option value="Telesales">Telesales</mat-option>
              <mat-option value="Marketing">Marketing</mat-option>
              <mat-option value="Account Management">Account Management</mat-option>
              <mat-option value="Outbound">Outbound</mat-option>
              <mat-option value="Inbound">Inbound</mat-option>
              <mat-option value="Sales Management">Sales Management</mat-option>
              <mat-option value="Territory Sales">Territory Sales</mat-option>
              <mat-option value="Area Sales">Area Sales</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile class="dialog-left" [colspan]="1">
        <h3 class="heading-left">Description:</h3>
        </mat-grid-tile>
        <mat-grid-tile class="dialog-right" [colspan]="1">
            <input class="input-right" matInput [(ngModel)]="description" placeholder="Description">
        </mat-grid-tile>

       </mat-grid-list>
       
       <mat-grid-list cols="3" rowHeight="50px">
          <mat-grid-tile [colspan]="1"></mat-grid-tile>
          <mat-grid-tile [colspan]="1">
              <button class="save-btn" mat-button (click) = "closeDialog()">Save</button>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1"></mat-grid-tile>
       </mat-grid-list>
       
       
       