

  .mat-elevation-z15{
  max-height: 40px; 
  min-height: 40px; 
  background-color:#3a4f6e; 
  color:white;
  position: relative;
  width: 100%;
  bottom: 0;
  margin-top: 100px;
  }

  .mat-toolbar-row.mat-toolbar-row{
    justify-content: center;
    
  }

  .buttons{
      text-align: center;
        object-position: center;
        align-content: center;
  }