

  .mat-elevation-z15{
  max-height: 40px; 
  min-height: 40px; 
  background-color:#3a4f6e; 
  color:white;
  position: relative;
  width: 100%;
  bottom: 0;
  margin-top: 10px;
  }

  .mat-toolbar-row.mat-toolbar-row{
    justify-content: center;
    
  }

  // .example-icon {
  //   padding: 0 14px;
  // }
  
  // .example-spacer {
  //   flex: 1 1 auto;
  // }
  // body {
  //   margin: 0;
  // }

  .buttons{
      text-align: center;
        object-position: center;
        align-content: center;
  }