        
        <div class="terms"><b>Privacy Policy</b><br> </div>
        All rights of users are protected by the use of this app. Sales script has a legal obligation to handle
        confidential information from users in regards to personal login details and can not use this
        information for any other purpose other than for the purpose of the operation of the Sales Script
        Application. Sales Script cannot take responsibility for incorrect user information in regards to email
        address or location your information is protected only if its accurate and applicable to the use of this
        application.