
               <div class="terms"><b>Terms and Conditions</b><br> </div>
               Sales Script may only be used for the generic purpose of this site which is the personal
                 use of Sales Script templates and the use of scripts from other users via purchasing a script.
                 <br><br>Plagiarising of someone’s work is not prohibited from this site for personal user or the benefit 
                 of selling the script to other users. People that are caught plagiarising may not be allowed back
                  on the site and further action such as compensation may be taken if necessary.
               
        