/*BEGNI BANNER*/
.banner-img{
  object-fit: cover;
  object-position: right;
    }
  
  .title{
  top: 35%;
  }
/*END BANNER*/

#form {
  display: block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  }

.perm-title{
  font-size: 16pt;
  font-weight: 500;
  text-align: center;
  display: block;
  margin-bottom: 2%;

}
#radio{
  margin-right: 10px;
 }

// ::ng-deep .mat-radio-group.mat-radio-group{
//   margin-left: 20%;
//   margin-right: 20%;
// }


#new-usr-bttn{
  color: white;
  background: #3a4f6e;
  margin-left: 5%;

}

/*Override styling for new user button*/
::ng-deep mat-grid-tile.mat-grid-tile .mat-figure {
  justify-content: space-evenly; /*horizontal alignment*/
}

// :host-context(.table) mat-grid-tile.mat-figure {
//   justify-content: center;
//   background: #3a4f6e;
// }


.userDetails {
    // display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // margin-right: auto; 
    // margin-left: auto; 
    // margin-top:2%;
    width: 90%;
  }
  
  // ::ng-deep mat-grid-tile.mat-grid-tile {
  //  border: 1px solid #3a4f6e;
  // }

  // ::ng-deep figure.mat-figure {
  //   justify-content: center;
  // }

  // #table{
  //   justify-content: center;
  // }