/*BEGNI BANNER*/
.banner-img{
  object-fit: cover;
  object-position: right;
    }

  
  .title{
  top: 35%;
  }
/*END BANNER*/





.userDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto; margin-left: auto; margin-top:2%;
    width: 50%;
  }
  
/*Override styling for claa new-user-tile*/
.new-user-tile >::ng-deep .mat-figure{
  justify-content: left;
}


// ::ng-deep mat-grid-tile.mat-grid-tile .mat-figure {
//   justify-content: space-evenly; /*horizontal alignment*/
// }


.userDetails {
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
  }
  //remove after complete system
  ::ng-deep mat-grid-tile.mat-grid-tile {
   border: 1px solid #3a4f6e;
  }

  .table{
background: #e2e2e0;
}

 #edit-icon{
   fill: orange;

 }

  
  
  .example-container form {
    margin-bottom: 20px;
  }
  
  .example-container form > * {
    margin: 5px 0;
  }
  
  .example-container .mat-radio-button {
    margin: 0 50px;
  }

 #delete-icon{
   fill: red;
 }

