.banner-img{
    object-fit: contain;
    object-position: left;
    padding-left: 90px;
        }
    
    .logo-img{
        margin-left: 90%;
        margin-right: auto;
        top: 0;
        object-position: right;
        }
    
    .title{
    top: 35%;
    }