.banner-img{
  object-fit: contain;
  object-position: left;
  padding-left: 90px;
      }
  
  .logo-img{
      margin-left: 90%;
      margin-right: auto;
      top: 0;
      object-position: right;
      }
  
  .title{
  top: 35%;
  }

  .heading-grid-list{
    background: whitesmoke;
  }

  .delete-btn{
    background: none;
  display: inline-block;
  font-size: 16pt;
  // box-shadow: 5px 6px 11px 1px rgba(0,0,0,0.94);
  font-variant-caps: all-petite-caps;
   letter-spacing: 2pt;
}

.del-btn{
  margin: auto;
  color: red;
  display: inline;
  font-size: 16pt;
  // box-shadow: 5px 6px 11px 1px rgba(0,0,0,0.94);
}

.clear-all-btn{
   background: darkorange;
   font-size: 16pt;
   font-variant-caps: all-petite-caps;
    letter-spacing: 2pt;
    padding: 5px;
}

.total{
  font-size: 18pt;
  font-variant-caps: all-petite-caps;
  letter-spacing: 2pt;
  font-weight: bolder;
}

.grid-border{
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.grid-tile{
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  margin-bottom: 5px;
    margin-top: 5px;
}

.cart-card{
  box-shadow: none;
  background: no-repeat;
}

.total-grid-tile{
  margin-top: 80px;
}