

<div id="banner">
  <img class="banner-img" src="/assets/img/example.png" width="100%" height="100%">
  <img class="logo-img" src="/assets/img/Logo.png" alt="logo" width="100%" heght="100%">
  <div class="title">Example Script</div>
</div>

<!--Script details-->
<div class="script-details-container">
    <div class="script-details">Category</div>
    <input class="input-details"type="text" [(ngModel)] ="category" readonly>
    <div class="script-details">Script Name</div>
    <input class="input-details" type="text" [(ngModel)] ="scriptName" readonly>
  </div>

<!--Objections-->

<mat-grid-list cols="11" rowHeight="1:1">
  <mat-grid-tile [colspan]="1"> </mat-grid-tile>
  <mat-grid-tile [colspan]="3">
    <div class="boxed">
        <div class="next-answer">
        <button mat-button (click)="nextQuestion(answer[0],0)"><mat-icon svgIcon="answer"></mat-icon></button>
      </div>
      <div class="answer-title">Answer</div>
      <textarea [(ngModel)]="answers[0].texts" rows="4" cols="40" name="texts"></textarea>
    </div>
  </mat-grid-tile>
    
  <mat-grid-tile [colspan]="3">
    <div class="boxed" *ngIf="answer > 1">
        <div class="next-answer">
            <button mat-button (click)="nextQuestion(answer[1],1)"><mat-icon svgIcon="answer"></mat-icon></button>
        </div>
        <div class="answer-title">Answer</div>
      <textarea [(ngModel)]="answers[1].texts" rows="4" cols="40" name="texts"></textarea>
    </div>
  </mat-grid-tile>
  
  <mat-grid-tile [colspan]="3">
    <div class="boxed" *ngIf="answer > 2">
        <div class="next-answer">
            <button mat-button (click)="nextQuestion(answer[2],2)"><mat-icon svgIcon="answer"></mat-icon></button>
        </div>
        <div class="answer-title">Answer</div>
      <textarea [(ngModel)]="answers[2].texts" rows="4" cols="40" name="texts"></textarea>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1"></mat-grid-tile>

  <mat-grid-tile [colspan]="1"> </mat-grid-tile>
  <mat-grid-tile [colspan]="3">
    <div class="boxed" *ngIf="answer > 3">
        <div class="next-answer">
            <button mat-button (click)="nextQuestion(answer[3],3)"><mat-icon svgIcon="answer"></mat-icon></button>
        </div>
        <div class="answer-title">Answer</div>
      <textarea [(ngModel)]="answers[3].texts" rows="4" cols="40" name="texts"></textarea>
    </div>
  </mat-grid-tile>
  
  <mat-grid-tile [colspan]="3">
    <div class="boxed" *ngIf="answer > 4">
        <div class="next-answer">
            <button mat-button (click)="nextQuestion(answer[4],4)"><mat-icon svgIcon="answer"></mat-icon></button>
        </div>
        <div class="answer-title">Answer</div>
      <textarea [(ngModel)]="answers[4].texts" rows="4" cols="40" name="texts"></textarea>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="3">
    <div class="boxed" *ngIf="answer > 5">
       <div class="next-answer">
        <button mat-button (click)="nextQuestion(answer[5],5)"><mat-icon svgIcon="answer"></mat-icon></button>
    </div>
    <div class="answer-title">Answer</div>
      <textarea [(ngModel)]="answers[5].texts" rows="4" cols="40" name="texts"></textarea>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1"> </mat-grid-tile>

  <mat-grid-tile [colspan]="1"> </mat-grid-tile>
  <mat-grid-tile [colspan]="3">
    <div class="boxed" *ngIf="answer > 6">
        <div class="next-answer">
            <button mat-button (click)="nextQuestion(answer[6],6)"><mat-icon svgIcon="answer"></mat-icon></button>
        </div>
        <div class="answer-title">Answer</div>
      <textarea [(ngModel)]="answers[6].texts" rows="4" cols="40" name="texts"></textarea>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="3">
    <div class="boxed" *ngIf="answer > 7">
        <div class="next-answer">
            <button mat-button (click)="nextQuestion(answer[7],7)"><mat-icon svgIcon="answer"></mat-icon></button>
        </div>
        <div class="answer-title">Answer</div>
      <textarea [(ngModel)]="answers[7].texts" rows="4" cols="40" name="texts"></textarea>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="3">
    <div class="boxed" *ngIf="answer > 8">
        <div class="next-answer">
            <button mat-button (click)="nextQuestion(answer[8],8)"><mat-icon svgIcon="answer"></mat-icon></button>
        </div>
        <div class="answer-title">Answer</div>
      <textarea [(ngModel)]="answers[8].tests" rows="4" cols="40" name="texts"></textarea>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1"> </mat-grid-tile>

<!--Pitch-->
<mat-grid-tile [colspan]="11"></mat-grid-tile>
<mat-grid-tile [colspan]="2"> </mat-grid-tile>
<mat-grid-tile [colspan]="7" [rowspan] ="3">
    <div class="boxed-pitch">
      <div class="pitch-title">Pitch</div>
     
      <textarea [(ngModel)]="question" rows="8" cols="80"></textarea>
     

    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2"> </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan] ="2"> </mat-grid-tile>

</mat-grid-list>



  


  <p></p>
  <!--<button type="submit" value="submit" style="display: block; margin: 0 auto;">Save</button>-->