<div fxLayout="row" fxLayoutAlign="space-evenly center" > 
<div id="banner">
  <img class="banner-img" src="/assets/img/example.png" width="100%" height="100%">
  <img class="logo-img" src="/assets/img/Logo.png" alt="logo" width="100%" heght="100%">
  <div class="title">Example Script</div>
</div>
</div>
<!--Description explaining how build script works with example script-->
<mat-grid-list cols="11" rowHeight="220px">
    <mat-grid-tile [colspan]="1"> </mat-grid-tile>
    <mat-grid-tile [colspan]="9">
      <div class="example-tbl">
          If you decide to sign up you will see that I have done an example script that I designed for a Recruiter pitching a potential client. This came from my experience working as a recruiter and you will find that the majority of scripts will come from people that have experience in the industry in some sort of capacity. 
          <p>This example script will show you how the template works and how you can effectively use it when prospecting a client.
          The example script looks like this which will be the same format for all of the templates with a pitch box towards the bottom of the screen and above it a series of boxes which will have objections in them. You will use the pitch box to try and sell your service or product to the potential client and the objection boxes will give you an idea of potential objections that the client might have in regards to your product or service.  
          </p>         
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1"> </mat-grid-tile>
  </mat-grid-list>

<!--Script details-->
<div *ngIf = "loaded"> 
<div class="script-details-container">
  <div class="script-details">Category</div>
    <input class="input-details"type="text" [(ngModel)] ="category" readonly>
  <div class="script-details">Script Name</div>
    <input class="input-details" type="text" [(ngModel)] ="scriptName" readonly>
  </div>

<!--Back button row-->

  <mat-grid-list cols="11" rowHeight="50px">
    <mat-grid-tile [colspan]="1"> </mat-grid-tile>
    <mat-grid-tile class="bck-btn-container" [colspan]="3">
    <button id="bck-btn" mat-button (click)="backQuestion()" *ngIf ="previousAnswerCount > 0 "><mat-icon id="bck-btn-icon" svgIcon="back"></mat-icon>Back</button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3"></mat-grid-tile>
    <mat-grid-tile [colspan]="3"></mat-grid-tile>
    <mat-grid-tile [colspan]="1"> </mat-grid-tile>
  </mat-grid-list>

  <!--Objections-->

<mat-grid-list cols="11" rowHeight="1:1.2" [gutterSize]="'10px'">
 <mat-grid-tile [colspan]="1"> </mat-grid-tile>
  <mat-grid-tile [colspan]="3">
    <mat-card class="example-card">
      <mat-card-header>
        <div class="next-answer"><button mat-button (click)="nextQuestion(answer[0],0)" *ngIf="answers[0].nextQuestionId != NULL"><mat-icon svgIcon="answer"></mat-icon></button></div>
        <div class="answer-title">Answer</div>
      </mat-card-header>
      <mat-card-content> 
          <textarea [(ngModel)]="answers[1].texts" rows="4" cols="40" name="texts" readonly></textarea>
      </mat-card-content>
    </mat-card>
  
  </mat-grid-tile>
    
  <mat-grid-tile [colspan]="3" *ngIf="answer > 1">
    <mat-card class="example-card" *ngIf="answer > 1">
        <mat-card-header>
          <div class="next-answer"><button mat-button (click)="nextQuestion(answer[1],1)" *ngIf="answers[1].nextQuestionId != NULL"><mat-icon svgIcon="answer"></mat-icon></button></div>
          <div class="answer-title">Answer</div>
        </mat-card-header>
        <mat-card-content> 
            <textarea [(ngModel)]="answers[1].texts" rows="4" cols="40" name="texts" readonly></textarea>
        </mat-card-content>
      </mat-card>
  </mat-grid-tile>
  
  <mat-grid-tile [colspan]="3" *ngIf="answer > 2">
    <mat-card class="example-card" *ngIf="answer > 2">
        <mat-card-header>
          <div class="next-answer"><button mat-button (click)="nextQuestion(answer[2],2)" *ngIf="answers[2].nextQuestionId != NULL"><mat-icon svgIcon="answer"></mat-icon></button></div>
          <div class="answer-title">Answer</div>
        </mat-card-header>
        <mat-card-content> 
            <textarea [(ngModel)]="answers[2].texts" rows="4" cols="40" name="texts" readonly></textarea>
        </mat-card-content>
      </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1"*ngIf="answer > 3"></mat-grid-tile>

  <mat-grid-tile [colspan]="1"*ngIf="answer > 3"> </mat-grid-tile>
  <mat-grid-tile [colspan]="3" *ngIf="answer > 3">
      <mat-card class="example-card" *ngIf="answer > 3">
          <mat-card-header>
            <div class="next-answer"><button mat-button (click)="nextQuestion(answer[3],3)" *ngIf="answers[3].nextQuestionId != NULL"><mat-icon svgIcon="answer"></mat-icon></button></div>
            <div class="answer-title">Answer</div>
          </mat-card-header>
          <mat-card-content> 
              <textarea [(ngModel)]="answers[3].texts" rows="4" cols="40" name="texts" readonly></textarea>
          </mat-card-content>
        </mat-card>
  </mat-grid-tile>
  
  <mat-grid-tile [colspan]="3" *ngIf="answer > 4">
      <mat-card class="example-card" *ngIf="answer > 4">
          <mat-card-header>
            <div class="next-answer"><button mat-button (click)="nextQuestion(answer[4],4)" *ngIf="answers[4].nextQuestionId != NULL"><mat-icon svgIcon="answer"></mat-icon></button></div>
            <div class="answer-title">Answer</div>
          </mat-card-header>
          <mat-card-content> 
              <textarea [(ngModel)]="answers[4].texts" rows="4" cols="40" name="texts" readonly></textarea>
          </mat-card-content>
        </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="3" *ngIf="answer > 5">
      <mat-card class="example-card" *ngIf="answer > 5">
          <mat-card-header>
            <div class="next-answer"><button mat-button (click)="nextQuestion(answer[5],5)" *ngIf="answers[5].nextQuestionId != NULL"><mat-icon svgIcon="answer"></mat-icon></button></div>
            <div class="answer-title">Answer</div>
          </mat-card-header>
          <mat-card-content> 
              <textarea [(ngModel)]="answers[5].texts" rows="4" cols="40" name="texts" readonly></textarea>
          </mat-card-content>
        </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1"*ngIf="answer > 6"> </mat-grid-tile>
  <mat-grid-tile [colspan]="1"*ngIf="answer > 6"> </mat-grid-tile>
  <mat-grid-tile [colspan]="3" *ngIf="answer > 6">
      <mat-card class="example-card" *ngIf="answer > 6">
          <mat-card-header>
            <div class="next-answer"><button mat-button (click)="nextQuestion(answer[6],6)" *ngIf="answers[6].nextQuestionId != NULL"><mat-icon svgIcon="answer"></mat-icon></button></div>
            <div class="answer-title">Answer</div>
          </mat-card-header>
          <mat-card-content> 
              <textarea [(ngModel)]="answers[6].texts" rows="4" cols="40" name="texts" readonly></textarea>
          </mat-card-content>
        </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="3"*ngIf="answer > 7">
      <mat-card class="example-card" *ngIf="answer > 7">
          <mat-card-header>
            <div class="next-answer"><button mat-button (click)="nextQuestion(answer[7],7)" *ngIf="answers[7].nextQuestionId != NULL"><mat-icon svgIcon="answer"></mat-icon></button></div>
            <div class="answer-title">Answer</div>
          </mat-card-header>
          <mat-card-content> 
              <textarea [(ngModel)]="answers[7].texts" rows="4" cols="40" name="texts" readonly></textarea>
          </mat-card-content>
        </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="3" *ngIf="answer > 8">
      <mat-card class="example-card" *ngIf="answer > 8">
      <mat-card-header>
        <div class="next-answer"><button mat-button (click)="nextQuestion(answer[8],8)" *ngIf="answers[8].nextQuestionId != NULL"><mat-icon svgIcon="answer"></mat-icon></button></div>
        <div class="answer-title">Answer</div>
      </mat-card-header>
      <mat-card-content> 
          <textarea [(ngModel)]="answers[8].texts" rows="4" cols="40" name="texts" readonly></textarea>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
<mat-grid-list cols="11" rowHeight="1:1.2" [gutterSize]="'10px'">
<!--Pitch-->
<mat-grid-tile [colspan]="2"> </mat-grid-tile>
<mat-grid-tile [colspan]="7" [rowspan] ="3">
    <div class="boxed-pitch">
      <div class="pitch-title">Pitch</div>
      <app-ngx-editor class="toolbar-editor" [config]="editorConfig" [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="htmlContent" [(ngModel)]="question" ></app-ngx-editor>
      <!-- <textarea [(ngModel)]="question" rows="8" cols="80" readonly></textarea> -->
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2"> </mat-grid-tile>
</mat-grid-list>

</div>

  
