
/*START BANNER*/
.banner-img{
  object-fit: contain;
  object-position: right;
  }

  .title{
    top: 35%;
  }

/*END BANNER*/

/*START SCRIPT DETAILS*/
  .script-details-container{
    text-align: center;
    margin: 50px;
  }

  .input-details{
    display: inline-block;
    border: none;
    font-size: 14pt;
  }

  .script-details{
    display: inline;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 14pt;
  }

/*END SCRIPT DETAILS*/

.example-tbl{
  padding: 10px;
  font-size: 16pt;
}
.bck-btn-container >::ng-deep .mat-figure{
  justify-content: left;
  margin-left: 5%;
}

#bck-btn{
  background-color: #3a4f6e;
  color: white;
  float: left;
 }

#bck-btn-icon{
  margin-left: 10px;
  margin-right: 10px;
}

.next-answer{
  float: left;
  fill: white;
  margin-top: auto;
  margin-bottom: auto;
}




::ng-deep .button.mat-button.ng-star-inserted{
  margin-top: auto;
  margin-bottom: auto;

}

 .mat-card-header{
  display: flex;
  flex-direction: row;
  background: #3a4f6e;
}

  
::ng-deep .mat-card.example-card.mat-card{
  display: inline-block;
  box-shadow: 5px 10px 8px #b9b9b3;
  padding: 0;
  position: relative;
  width: 90%;
}

 .answer-title{
  display: inline-block;
  margin: 20px auto;
  font-size: 20px;
  vertical-align: middle;
  color: white;
  position: relative;
  font-variant-caps: all-petite-caps;
  letter-spacing: 2pt;
 }

  .boxed-pitch{
    justify-items: stretch;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: auto;
    display: block;
    width: 90%;
    background: #3a4f6e;
    box-shadow: 5px 10px 8px #b9b9b3;
  }
  

  .pitch-title{
    color: white;
    text-align: center;
    font-size: 30pt;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    font-variant-caps: all-petite-caps;
    letter-spacing: 2pt;
  }

  textarea{
    margin: 0;
    border: none;
    width: 100%;
    vertical-align: bottom;
    background: #f1f1f1;
    resize: none;
    font-size: 20px;
    box-sizing: border-box;
    padding: 20px;
  }

 
  
