#banner{  
  display: table;
  margin-left: auto;
  margin-right: auto;
  height: 355px;
  width: 1100px;
  box-shadow: 5px 10px 8px #b9b9b3;
  background: #e6e6e6;
  }

.banner-img{
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  object-position: right;
  }
  .script-details-container{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .input-details{
    display: inline-block;
    border: none;
  }

  .script-details{
    display: inline;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
  }
  
  .logo-img{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  }
  
  .title{
  position: absolute;
  left: 0;
  top: 35%;
  text-align: center;
  font-size: 50px;
  font-weight: normal;
  font-family: Helvetica, sans-serif;
  font-kerning: normal;
  letter-spacing: .2rem;
  font-variant-caps: all-petite-caps;
  color: white;
  }

  .script-details-container{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .script-details{
    display: inline;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
  }

  .input-details{
    display: inline-block;
    border: none;
  }

  .next-answer{
    top: 0;
    display: inline;
    padding: 0;
    float: left;
  }

 .answer-title{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  vertical-align: middle;
  color: white;

 }

  .remove-answer{
    top: 0;
    display: inline;
    padding: 0;
    float: right;
  }

  .mat-button{
    vertical-align: top;
  }


  textarea{
    margin: 0;
    border: none;
    width: 100%;
    vertical-align: bottom;
  }
.grid-container {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .boxed {
    display: inline;
    background-color: #3a4f6e;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .boxed-pitch{
width: 100%;
  }
  
  // .next-q-btn{
  // margin-bottom: 10px;
  // margin-top: 10px;
  // margin-left: auto;
  // margin-right: auto;
  // text-align: center;
  // width: 120px;
  // height: 32px;
  // background: rgb(1, 1, 48);
  // border: none;
  // color: white;
  // display: block;
  // }