#banner{  
  display: table;
  margin-left: auto;
  margin-right: auto;
  height: 355px;
  width: 1100px;
  box-shadow: 5px 10px 8px #b9b9b3;
  background: #e6e6e6;
  }

.banner-img{
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  object-position: right;
  }
  .script-details-container{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .input-details{
    display: inline-block;
    border: none;
  }

  .script-details{
    display: inline;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
  }
  
  .logo-img{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  }
  
  .title{
  position: absolute;
  left: 0;
  top: 35%;
  text-align: center;
  font-size: 50px;
  font-weight: normal;
  font-family: Helvetica, sans-serif;
  font-kerning: normal;
  letter-spacing: .2rem;
  font-variant-caps: all-petite-caps;
  color: white;
  }

  .script-details-container{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .script-details{
    display: inline;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
  }

  .input-details{
    display: inline-block;
    border: none;
  }

  .next-answer{
    top: 0;
    display: inline;
    padding: 0;
    float: left;
  }

 .answer-title{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  vertical-align: middle;
  color: white;

 }

  .remove-answer{
    top: 0;
    display: inline;
    padding: 0;
    float: right;
  }
  

  .mat-button{
    vertical-align: top;
  }


  textarea{
    margin: 0;
    border: none;
    width: 100%;
    vertical-align: bottom;
    background: #f1f1f1;
  }

  
 
  .boxed {
    display: inline;
    background-color: #3a4f6e;
    
    font-size: 30px;
    text-align: center;
    border-color: #3a4f6e;
    margin-left: 20px;
    margin-bottom: 10px;
    box-shadow: 5px 10px 8px #b9b9b3;
  }

  .boxed-pitch{
    width: 100%;
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: #3a4f6e;
    box-shadow: 5px 10px 8px #b9b9b3;
  }
  
  .pitch-title{
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
  }
  .edit-ribbon-container{
    background: white;
    height: 40px;
    border: 1px solid black;
  }
    .record-pitch-container{
    background: white;
    height: 40px;
    text-align: center;
    border: 1px solid black;
    }

    .record-pitch{
      margin-left: 40px;
      margin-right: 40px;
      margin-top: 10px;
      margin-bottom: 10px;
      line-height: 0;
    }
  
    .save-edit-container{
      text-align: center;
      background: white;
      height: 60px;
      border: 1px solid black;
    }
    .save-btn{
      background: orangered;
      color: white;
      margin-left: 40px;
      margin-right: 40px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .edit-btn{
      background: orange;
      color: white;
      margin-left: 40px;
      margin-right: 40px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
 
  