

.banner-img{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 374.281px;
    width: 100%;
    opacity: .6;
  }
  
  .logo-img{
    //   display: right;
      // margin-left: auto;
      // margin-right: auto;
      // height: auto;
      // width: 30%;
      // background-color: #7700FF;
      position: absolute;
      left: 0;
      top: 0;
      width: 10%;
      vertical-align: center;
      font-size: 30px;
  }
  
  #banner{  
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }
  
  .title{
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      text-align: center;
      font-weight: bold;
      font-size: 50px;
      color: rgb(34, 52, 88);
  }
