
#banner{  
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  }

.banner-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
  width: 1000px;
  box-shadow: 5px 10px 8px #b9b9b3;
  opacity: .6;
  }
  
  .logo-img{
    position: absolute;
    left: 50%;
    right: 50%;
  }
  
  .title{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: lighter;
    font-family: Helvetica, sans-serif;
    font-kerning: normal;
    letter-spacing: .2rem;
    font-variant-caps: all-petite-caps;
    color: #597dc7;
  }
