
#banner{  
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  }

.banner-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
  width: 1000px;
  box-shadow: 5px 10px 8px #b9b9b3;
  opacity: .6;
  }
  
  .logo-img{
      position: absolute;
      left: 0;
      top: 0;
      width: 10%;
      vertical-align: center;
      font-size: 30px;
  }
  
  .title{
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      text-align: center;
      font-weight: bold;
      font-size: 50px;
      color: #597dc7;
  }
