
  <div id="banner">
      <img class="banner-img" src="/assets/img/architecture-chair-contemporary-931887.jpg" width="100%" height="100%">
      <img class="logo-img" src="/assets/img/Logo.png" alt="logo" width="100%" heght="100%">
      <div class="title">Login</div>
  </div>
 


<div id="login-box">
    <div class="heading-inbox">
      <h1> Login</h1>
      </div>
=======

<form [formGroup]="logInForm" (ngSubmit)="onSubmit()">

  <label>
      <label class="required">*</label>Email
      <input type="text" placeholder="Email" formControlName="email">
      <div *ngIf="submitted && logInForm.controls.email.errors">
        <div *ngIf="logInForm.controls.email.errors.required">Your email is required<p></p>
        </div>
      </div>
    </label>

  <label>
      <label class="required">*</label>Password
    <input type="password" placeholder="Password" formControlName="password">
    <div *ngIf="submitted && logInForm.controls.password.errors">
      <div *ngIf="logInForm.controls.password.errors.required">Your Password is required</div>
    </div>
  </label>

  <input type="Login" value="Login">

</form>

<p *ngIf="success">{{ result }}</p>
</div>
