
  <div id="banner">
    <img class="banner-img" src="/assets/img/login-gradient-overlay.png" width="100%" height="100%">
    <img class="logo-img" src="/assets/img/WhiteLogo.png" alt="logo" width="100%" heght="100%">
    <div class="title">Login</div>
    <img class="icon" src="assets/img/Login-icon.png">
</div>

<div id="login-box">
    <img class="bkgrnd" src="assets/img/bkgrndlogin.png">
  <div class="heading-inbox">
    <h1>User login</h1>
  </div>

<form [formGroup]="logInForm" (ngSubmit)="onSubmit()">
  
  <label class="required">*</label> <label> Email</label>
  <div id="input_container">
      <input type="text" id="input" formControlName="email">
      <img src="assets/img/envelope-solid.svg" id="input_img">
  </div>
      <div *ngIf="submitted && logInForm.controls.email.errors" id="error-container">
        <div class="error" *ngIf="logInForm.controls.email.errors.required">Your email is required<p></p>
        </div>
      </div>

  <label class="required">*</label> <label> Password</label>
  <div id="input_container">
    <input type="password" id="input" formControlName="password">
    <img src="assets/img/lock-solid.png" id="input_img">
  </div>  

    <div *ngIf="submitted && logInForm.controls.password.errors" id="error-container">
      <div class="error" *ngIf="logInForm.controls.password.errors.required">Your Password is required
      </div>
    </div>


  <input type="submit" value="Login">

  
<div *ngFor ="let post of posts | async">
  {{post | json}}
  </div>

</form>