<div id="saleScript">
    <img src="/assets/logo.JPG" alt="logo" style="width:450px;">
  </div><br>
  
<div id="login-box">
    <div class="left-box">
      <h1> Login</h1>
<form [formGroup]="logInForm" (ngSubmit)="onSubmit()">

  <label>
      <label class="required">*</label>Email
      <input type="text" placeholder="Email" formControlName="email">
      <div *ngIf="submitted && logInForm.controls.email.errors">
        <div *ngIf="logInForm.controls.email.errors.required">Your email is required<p></p>
        </div>
      </div>
    </label>

  <label>
      <label class="required">*</label>Password
    <input type="password" placeholder="Password" formControlName="password">
    <div *ngIf="submitted && logInForm.controls.password.errors">
      <div *ngIf="logInForm.controls.password.errors.required">Your Password is required</div>
    </div>
  </label>

  <input type="Login" value="Login">

</form>

<p *ngIf="success">{{ result }}</p>