

// .logo {
//     // color: white;
//     box-sizing: border-box;
//     float: left;
//     padding-left: 25px;
//     margin-top: 0px;
//     // display: flex;
//     // flex-direction: column;
//     width: 33.33%;
//     // height: 300px;
//     // background: black;
//   }
.banner {  
    float: left;
    margin-top: 0px;
    display: table;
    padding: 5px;
    width: 70%;
    height: 70%;
  }

  .banner-img:after{
    content: "";
    float:left;
    clear: both;
    display: inline-block;
    vertical-align: middle;
    display: table;
    width: 20%;
    height: 60%;
    background: black;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> parent of f5a29932... banner working
  }

  .logo-img:after{
      content: "";
      float:left;
      display: inline-block;
    vertical-align: middle;
      clear: both;
      display: table;
  }


//   {  display: flex;
//     // flex-direction: column;
//     align-items: left;
//     text-align: left;
//     width: 70%;
//     height: 1450x;
//     background: black;
//     margin-top: 0px
      
//   }

<<<<<<< HEAD
=======
  }

  .logo-img:after{
      content: "";
      float:left;
      display: inline-block;
    vertical-align: middle;
      clear: both;
      display: table;
  }


//   {  display: flex;
//     // flex-direction: column;
//     align-items: left;
//     text-align: left;
//     width: 70%;
//     height: 1450x;
//     background: black;
//     margin-top: 0px
      
//   }

>>>>>>> parent of f5a29932... banner working
=======
>>>>>>> parent of f5a29932... banner working
  label {
    display: block;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 50px;
    margin-right: 5px;
    color: rgb(34, 52, 88);
    font-family: Arial, Verdana;
    
}

input, textarea  {
    display: block;
    width: 80%;
    margin-bottom: 20px;
    margin-top: 3px;
    text-align: left;
    padding: 1em;
    background-color: rgb(236, 228, 228);
    border: none;
    float: centre;
}

#login-box
{
    // position: relative;
    float: center;
    margin: auto;

    height:  700px;
    width: 400px;
    background: #fff;
    border: 5px solid rgb(34, 52, 88);
    vertical-align: middle;
}


.heading-inbox{
    margin: auto;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 28px;
    color: rgb(34, 52, 88);
    float: center;
    vertical-align: middle;
}

input[type="Login"]{
    margin-bottom: 28px;
    margin-top: 28px;
    margin: 5% auto;
    text-align: center;
    width: 120px;
    height: 32px;
    background: rgb(1, 1, 48);
    border: none;
    border-radius: 2px;
    color: white;
    transition: 0.2s ease;
    cursor: pointer;
}

//login button
input[type="Login"]:hover, 
input[type="Login"]:focus
{
    background: #1745a7e3;
    transition: 0.2s ease;
}

.error {
    margin-top: -20px;
    padding: .5em;
    font-size: 10px;
    margin-bottom: 10px;
    color: red;
}

.required{
    display: inline;
    margin-left: 0px;
    text-align: left;
    color: red;
}

.cta {
    background: #7700FF;
    border: none;
    color: white;

    text-transform: uppercase;
    border-radius: 4px;
    padding: 1em;
    cursor: pointer;
    font-family: 'Montserrat';
}

.results {
    margin-top: 50px;

    strong {
        display: block;
    }
    span {
        margin-bottom: 20px;
        display: block;
    }

}