/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import '~css-star-rating/scss/star-rating';


body, html {
    height: 100%;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#banner{  
  display: grid;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  // width: calc(100% - 1800);
  // height: calc(100% - 350px);
  height: 350px;
  width: 1800px;
  box-shadow: 5px 10px 8px #b9b9b3;
  background: #e6e6e6;
}

.banner-img{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  
  .logo-img{
      position: absolute;
      left: 0;
      top: 0;
      width: 10%;
      font-size: 30px;
      object-fit: contain;
  }
  .title{
    position: absolute;
    left: auto;
    right: auto;
    top: 50%;
    width: 100%;
    text-align: center;
    font-weight: normal;
    vertical-align: center;
    font-size: 50px;
    font-family: Helvetica, sans-serif;
    font-kerning: normal;
    letter-spacing: .2rem;
    font-variant-caps: all-small-caps;
    color: #223458;
}

.textarea{
  font-family: Helvetica, sans-serif;
}
.header{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color:#243A5D;
    color: white;
  }

  footer {

    background-color: #ddd;
    border-top: 1px solid #bbb;
    text-align: center;
    align-self: flex-end;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// :host ::ng-deep .ngx-editor[_ngcontent-c11] .ngx-wrapper[_ngcontent-c11] .ngx-editor-textarea[_ngcontent-c11]{
//   background-color: #f1f1f1;
// }

// :host ::ng-deep .ngx-editor-grippie[_ngcontent-c14]{
//   height: 9px;
//   background-color: #f1f1f1;
//   position: absolute;
//   text-align: center;
//   cursor: s-resize;
//   border: 1px solid #ddd;
//   border-top: transparent;
// }