/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body, html {
    height: 100%;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.banner-img{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 374.281px;
    width: 100%;
    // opacity: .6;
  }
  #banner{  
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .logo-img{
    //   display: right;
      // margin-left: auto;
      // margin-right: auto;
      // height: auto;
      // width: 30%;
      // background-color: #7700FF;
      position: absolute;
      left: 0;
      top: 0;
      width: 10%;
      vertical-align: center;
      font-size: 30px;
  }
  .title{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    vertical-align: center;
    font-size: 50px;
    color: rgb(89, 125, 199);
}
/*
body {
    font-family: 'Arial';
    font-size: 18px;
}
a {
    text-decoration: none;
}
.container {
    width: 100%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 100% auto;
    a {
        color: white;
    }
}
section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}
*/

.header{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color:#243A5D;
    color: white;
  }
  footer {

    background-color: #ddd;
    border-top: 1px solid #bbb;
    text-align: center;
    align-self: flex-end;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }