<<<<<<< HEAD
=======

>>>>>>> master
#saleScript{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 1450x;
    background: rgb(245, 236, 236);
    margin-top: 0px;

  }

    label {
        display: block;
        padding-right: 0px;
        padding-left: 0px;
        margin-left: 50px;
        margin-right: 5px;
        color: rgb(34, 52, 88);
        font-family: Arial, Verdana;
    }

    h1
{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 190px;
    padding: 10px;
    font-weight: bold;
    font-size: 28px;
    color: rgb(34, 52, 88);
    
   
}

#register-box
{
    position: relative;
    margin: 5% auto;
    height: 700px auto;
    width: 500px;
    background: #fff;
    border: 5px solid rgb(34, 52, 88);
   
}

        input, textarea  {
            display: block;
            width: 80%;
            margin-bottom: 20px;
            margin-top: 3px;
            text-align: left;
            padding: 1em;
            background-color: rgb(236, 228, 228);
            border: none;
            float: centre;
        }


 /* checkbox */
    .container {
        cursor: pointer;
        color: rgb(34, 52, 88);
        display: inline-block;
        float: left;
<<<<<<< HEAD
    }
   
    
/*terms and conditions*/
    .tandc {
        display: inline;
        margin-left: 0px;
        text-align: left;
        color: rgb(34, 52, 88);
        font-size: 10px;
        float: left;
    }

    input[type="submit"]:hover, 
    input[type="submit"]:focus
    {
        background: #1745a7e3;
        transition: 0.2s ease;
    }


        input[type="submit"]{
        margin-bottom: 28px;
        margin-top: 28px;
        margin: 5% auto;
        text-align: center;
        width: 120px;
        height: 32px;
        background: rgb(1, 1, 48);
        border: none;
        border-radius: 2px;
        color: white;
        transition: 0.2s ease;
        cursor: pointer;
    }

=======
    }
   
    
/*terms and conditions*/
    .tandc {
        display: inline;
        margin-left: 0px;
        text-align: left;
        color: rgb(34, 52, 88);
        font-size: 10px;
        float: left;
    }

    input[type="submit"]:hover, 
    input[type="submit"]:focus
    {
        background: #1745a7e3;
        transition: 0.2s ease;
    }


        input[type="submit"]{
        margin-bottom: 28px;
        margin-top: 28px;
        margin: 5% auto;
        text-align: center;
        width: 120px;
        height: 32px;
        background: rgb(1, 1, 48);
        border: none;
        border-radius: 2px;
        color: white;
        transition: 0.2s ease;
        cursor: pointer;
    }

>>>>>>> master
   
    .error {
            margin-top: -20px;
            padding: .5em;
            font-size: 10px;
            margin-bottom: 10px;
            color: red;
        }

.required{
    display: inline;
    margin-left: 0px;
    text-align: left;
    color: red;
}

    .cta {
        background: #7700FF;
        border: none;
        color: white;

        text-transform: uppercase;
        border-radius: 4px;
        padding: 1em;
        cursor: pointer;
        font-family: 'Montserrat';
<<<<<<< HEAD
    }

    .results {
        margin-top: 50px;

        strong {
            display: block;
        }
        span {
            margin-bottom: 20px;
            display: block;
        }
    }
=======
    }

    .results {
        margin-top: 50px;

        strong {
            display: block;
        }
        span {
            margin-bottom: 20px;
            display: block;
        }
    }

>>>>>>> master
