
label {
    display: block;
    //width: 100px;
    // float: centre;
    align-items: center;
    font: 14px bold Tahoma, Arial, sans-serif;
    margin: 1px;
    padding: 2px;
    // background: #eeeeee;
    
    input, {
        display: block;
        width: 50%;
        margin-bottom: 20px;
        margin-left: 100px;
        text-align: left;
        padding: 1em;
        // width: 200px;
        // padding: 2px;
        // border: 1px solid #aaa;
    }

    textarea {
        width: 200px;
        padding: 2px;
        border: 1px solid #aaa;
    }

    .error {
        margin-top: -20px;
        background: yellow;
        padding: .5em;
        display: inline-block;
        font-size: .9em;
        margin-bottom: 20px;
    }
}

.cta {
    background: #7700FF;
    border: none;
    color: white;

    text-transform: uppercase;
    border-radius: 4px;
    padding: 1em;
    cursor: pointer;
    font-family: 'Montserrat';
}

.results {
    margin-top: 50px;

    strong {
        display: block;
    }
    span {
        margin-bottom: 20px;
        display: block;
    }
}