
<div id="banner">
    <img class="banner-img" src="/assets/img/adult-businessman-chair-845451.jpg" width="100%" height="100%">
    <img class="logo-img" src="/assets/img/Logo.png" alt="logo" width="100%" heght="100%">
    <div class="title">Register</div>
</div>


<div id="register-box">
    <div class="heading-inbox">
      <h1>Sign up here</h1></div>
<div *ngIf="response"><p>Hello: {{response.name}}</p></div>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <label class="required">*</label> <label>First Name</label>
    <input type="text" placeholder="First Name" formControlName="fName">
    <div *ngIf="submitted && registerForm.controls.fName.errors">
      <div class="error" *ngIf="registerForm.controls.fName.errors.required">Your firstname is required<p></p>
      </div>
    </div>
  
  
      <label class="required">*</label> <label> Last Name</label>
    <input type="text" placeholder="Last Name" formControlName="lName">
    <div *ngIf="submitted && registerForm.controls.lName.errors">
      <div class="error" *ngIf="registerForm.controls.lName.errors.required">Your lastname is required<p></p></div>
    </div>
  
    <label class="required">*</label> <label>Email</label>
    <input type="email" placeholder="Email"formControlName="email">
    <div *ngIf="submitted && registerForm.controls.email.errors">
      <div class="error" *ngIf="registerForm.controls.email.errors.required">Your email is required<p></p></div>
    </div>



    <label class="required">*</label> <label>Password</label> 
    <input type="password" placeholder="Password"formControlName="password">
    <div *ngIf="submitted && registerForm.controls.password.errors">
      <div class="error" *ngIf="registerForm.controls.password.errors.required">Password is required<p></p></div>
    </div>
  
    <label class="required">*</label> <label>Confirm Password</label> 
    <input type="password" placeholder="Re-type Password"formControlName="confirmPass">
      <div *ngIf="submitted && registerForm.controls.password.errors">
        <div class="error" *ngIf="registerForm.controls.password.errors.required">Confirmation password is required<p></p>
        </div>
      </div>
    

    <label class="tnc-container">
        <input class="checkbox" type="checkbox" checked="checked" value="tandc">
        <label class="tandc">I agree to Sales Script terms and conditions</label>
     </label>

  <input type="Submit" value="Register">

</form>
<div *ngFor ="let post of posts | async">
  {{post | json}}
  </div>