
<div id="banner">
    <img class="banner-img" src="/assets/img/register-gradient-overlay.png" width="100%" height="100%">
    <img class="logo-img" src="/assets/img/WhiteLogo.png" alt="logo" width="100%" heght="100%">
    <div class="title">Register</div>
    <img class="icon" src="assets/img/user-plus-solid.svg">
</div>

<div id="register-box">
    <div class="heading-inbox">
      <h1>Sign up here</h1></div>
<div *ngIf="response"><p>Hello: {{response.name}}</p></div>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">


  <label class="required">*</label> <label>First Name</label>

<div id="input_container">
  <input type="text" placeholder="First Name" id="input" formControlName="fName">
  </div>
  <div *ngIf="submitted && registerForm.controls.fName.errors" id="error-container">
  <div class="error" *ngIf="registerForm.controls.fName.errors.required">Your firstname is required<p></p></div>
</div>
  
  
  <label class="required">*</label> <label> Last Name</label>

  <div id="input_container">
    <input type="text" placeholder="Last Name" id="input" formControlName="lName">
  </div>
    <div *ngIf="submitted && registerForm.controls.lName.errors" id="error-container">
      <div class="error" *ngIf="registerForm.controls.lName.errors.required">Your lastname is required<p></p></div>
  </div>
  
    <label class="required">*</label> <label>Email</label>

    <div id="input_container">
      <input type="email" placeholder="Email" id="input" formControlName="email">
    </div>
    <div *ngIf="submitted && registerForm.controls.email.errors">
      <div class="error" *ngIf="registerForm.controls.email.errors.required">Your email is required<p></p></div>
    </div>



    <label class="required">*</label> <label>Password</label> 

    <div id="input_container">
    <input type="password" placeholder="Password" id="input" formControlName="password">
  </div>
    <div *ngIf="submitted && registerForm.controls.password.errors">
      <div class="error" *ngIf="registerForm.controls.password.errors.required">Password is required<p></p></div>
    </div>
  
    <label class="required">*</label> <label>Confirm Password</label> 
    
    <div id="input_container">
    <input type="password" placeholder="Re-type Password" id="input" formControlName="confirmPass">
    </div>  
    <div *ngIf="submitted && registerForm.controls.password.errors">
        <div class="error" *ngIf="registerForm.controls.password.errors.required">Confirmation password is required<p></p>
        </div>
      </div>
    

    <label class="tnc-container">
        <input class="checkbox" type="checkbox" checked="checked" value="tandc">
        <label class="tandc">I agree to Sales Script terms and conditions</label>
     </label>

  <input type="Submit" value="Register">

</form>
<div *ngFor ="let post of posts | async">
  {{post | json}}
  </div>