
  <div id="saleScript">
      <img src="/assets/Logo_JLEE_SS3.png" alt="logo" style="width:200px;">
    </div><br>

  <div id="register-box">
      <div class="left-box">
        <h1> Register</h1>
  
<div *ngIf="response"><p>Hello: {{response.name}}</p></div>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">


    <label>
      First Name
      <input type="text" placeholder="First Name" formControlName="fName">
      <div *ngIf="submitted && registerForm.controls.fName.errors">
        <div *ngIf="registerForm.controls.fName.errors.required">Your firstname is Required<p></p></div>
      </div>
    </label>

    <label>
      Last Name
      <input type="text" placeholder="Last Name" formControlName="lName">
      <div *ngIf="submitted && registerForm.controls.lName.errors">
        <div *ngIf="registerForm.controls.lName.errors.required">Your surname is Required<p></p></div>
      </div>
    </label>

    <label>
      Email
      <input type="email" placeholder="Email"formControlName="email">
      <div *ngIf="submitted && registerForm.controls.email.errors">
        <div *ngIf="registerForm.controls.email.errors.required">Your email is Required<p></p></div>
      </div>
    </label>

    <label>
      Password
      <input type="password" placeholder="Password"formControlName="password">
      <div *ngIf="submitted && registerForm.controls.password.errors">
        <div *ngIf="registerForm.controls.password.errors.required">Password is Required<p></p></div>
      </div>
    </label>
    <label>

        Confirm Password
      <input type="password" placeholder="Confirm Password"formControlName="confirmPass">
        <div *ngIf="submitted && registerForm.controls.password.errors">
          <div class="error" *ngIf="registerForm.controls.password.errors.required">Password is Required<p></p></div>
        </div>
      </label>

      <label class="container">
          <input type="checkbox" checked="checked" value="tandc">
          I agree to Sales Script terms and conditions
        </label>

    <input type="register" value="Register">

  </form>
  <div *ngFor ="let post of posts | async">
    {{post | json}}
    </div>